//================================================
//  Freemium
//================================================

.tutorial-videos-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 25px;
  iframe {
    border: 2px solid $light-gray;
  }
}
