---
layout: default
title: Home
---

<div class="posts">
  <h1>Contents</h1>
  <ul>
    <li>
      <h3><a href="{{ site.baseurl }}/components/">Components</a></h3>
      <ul>
        {% for component in site.components %}
          <li><h4><a href="{{ component.url | prepend: site.github.url }}" title="{{component.path}}">{{component.title}}</a></h4></li>
        {% endfor %}
      </ul>
    </li>

    <li>
      <h3><a href="{{ site.baseurl }}/components/">List Grids</a></h3>

      <ul>
        {% for grid in site.grids %}
          <li><h4><a href="{{ grid.url | prepend: site.github.url }}" title="{{grid.path}}">{{grid.title}}</a></h4></li>
        {% endfor %}
      </ul>
    </li>

    <li>
      <h3><a href="{{ site.baseurl }}/screens-icons/">Screens Icons</a></h3>

      <ul>
        {% for screens-icons in site.screens-icons %}
          <li><h4><a href="{{ screens-icons.url | prepend: site.github.url }}" title="{{screens-icons.path}}">{{screens-icons.title}}</a></h4></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
