//================================================
//  Popover-for-context-action
//================================================

.popover-for-context-action {
  width: 180px;
  letter-spacing: 0.5px;

  position: absolute;
  z-index: 101;

  background-color: $dark-gray;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 15px 0;

  .item {
    height: 48px;
    border-top: 2px solid $fifty-percent-gray;
    position: relative;

    text-align: right;
    line-height: 48px;
    font-size: 12px;
    color: $default-white;
    cursor: pointer;
    background-color: $dark-gray;
    a,
    a:hover,
    a:visited {
      color: $default-white;
    }

    &:first-child {
      border-top-width: 0;
    }

    &.disabled {
      cursor: default;
      color: $fifty-percent-gray;

      .sds-icon.delete {
        color: $fifty-percent-gray;
      }

      .sds-svg-icon.sds-svg-icon--button-delete {
        fill: $fifty-percent-gray;
      }

      &:hover {
        background-color: $dark-gray;
      }

      a, a:hover, a:visited {
        color: $fifty-percent-gray;
        cursor: default;
      }
    }

    &:hover {
      background-color: $fifty-percent-gray;
    }

    &__loader {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 14px;
      left: 5px;
      background-size: contain;
      background-image: url('../img/loader.gif');
    }

    .title {
      width: 140px;
      float: left;
    }

    .sds-icon {
      width: 40px;
      height: 48px;
      float: left;

      line-height: 48px;
    }

    .sds-svg-icon {
      fill: $default-white;
      height: 18px;

      &--icon-tier-capabilities,
      &--icon-tier-requirements {
        margin: 0 10px;
      }

      &--icon-task {
        width: 18px;
        height: 18px;
        margin: 0 10px;
        fill: $default-white;
      }
    }

    .sds-svg-icon--button-export {
      margin: 0 8px 2px 10px;
    }

    .sds-svg-icon--button-delete {
      margin: 0 10px 4px 8px;
    }

    .sds-svg-icon--icon-component {
      margin: 0 12px 0 0;
    }

    .sds-svg-icon--icon-conditions {
      margin: 0 10px 4px 8px;
    }

    .sds-icon.go-to-details {
      font-size: 14px;
    }

    .sds-icon.properties {
      font-size: 12px;
    }

    .sds-icon.access {
      font-size: 16px;
    }

    .sds-icon.track-changes {
      font-size: 17px;
    }

    .sds-icon.task {
      font-size: 14px;
    }

    .sds-icon.add-process {
      font-size: 18px;
    }

    .sds-icon.add-task-before,
    .sds-icon.add-task-after {
      font-size: 20px;
    }

    &--application-snapshot-menu-item {
      .title {
        padding: 0 15px;
        font-size: 14px;
        width: 100px;
      }

      .sds-icon {
        display: none;
      }
    }
  }

  &.arrow:before {
    content: '';
    width: 28px;
    height: 28px;

    position: absolute;
    z-index: -1;

    transform: rotate(45deg);

    background-color: $dark-gray;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 15px 0;
  }

  &.arrow.top:before {
    bottom: 36px;
  }

  &.arrow.right:before {
    left: -10px;
  }

  &.arrow.bottom:before {
    top: 36px;
  }

  &.arrow.left:before {
    right: -10px;
  }

  &.confirm-context.left.top:before {
    right: 6px;
    bottom: -10px;
  }

  &.confirm-context {
    height: 48px;
    width: auto;
    .item {
      float: left;
      border-top: none;
      border-left: 1px solid $fifty-percent-gray;
      &:first-child {
        border-left: none;
      }
      .title {
        width: auto;
        padding-left: 40px;
      }
    }
    &.arrow.bottom:before {
      top: 12px;
    }
  }

  &--application-snapshot {
    width: 130px;
  }
}
