//================================================
//  Popover
//================================================

.popover-processes,
.popover-maps {
  li > a {
    max-width: 250px;
  }
}

.comp-popover {
  z-index: 10;
  li {
    > a {
      z-index: 10;
    }
  }
}

.app-component {
  .comp-processes-counter .value,
  .comp-maps-counter .value {
    margin: 0;
  }
  .comp-processes-counter.processes-popover .dropdown,
  .comp-maps-counter.maps-popover .dropdown {
    float: left;
    margin-top: 3px;
    margin-right: 2px;
  }

  .popover-processes,
  .popover-maps {
    li {
      a {
        min-width: 105px;
      }
    }
  }
}

.at-description-popover {
  padding: 10px;

  .plain-text {
    overflow: auto;
    width: 490px;
    max-height: 220px;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.multi-description {
  cursor: pointer;
  color: $fifty-percent-gray;
  .sds-icon.info-description {
    font-size: 14px;
    position: relative;
    top: -1px;
  }
  &--disabled {
    color: $thirty-percent-black;
    cursor: default;
  }
  &__item {
    padding: 8px 0;
    margin: 0 5px;
    border-bottom: 2px solid $default-black;
    &:last-child {
      border-bottom: none;
    }
  }
  &__item-title {
    font-weight: bold;
    white-space: pre-wrap;
  }
}

.env-tier-rolling-deploy-popover {
  width: 260px;
  white-space: nowrap;
  padding: 10px 20px;

  .popover-list-item {
    line-height: 25px;
    @include sds-ellipsis;
  }

  .phase-name {
    display: inline-block;
    vertical-align: top;
    max-width: 50%;
    @include sds-ellipsis;
  }
}

.ec-react-popover__objects-list {
  .popover-objects-header {
    margin: 10px 10px 0;
  }
  .search-collapsable {
    .search-collapsable__search-input {
      padding-left: 30px;
      height: 30px;
      line-height: 30px;
    }
    .search-collapsable__search-icon,
    .search-collapsable__remove-icon {
      top: 4px;
    }
  }

  .ec-react-popover__content {
    max-height: 380px;
  }

  .popover-objects-list-header {
    font-weight: 200;
    font-size: 16px;
    margin: 0 10px;
    display: flex;
    border-bottom: 2px solid $default-black;
    &-count, &-icon, &-name, &-project {
      height: 30px;
      line-height: 30px;
    }
    &-count {
      font-weight: 500;
      width: 30px;
      text-align: right;
    }

    &-select-all {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      text-align: center;
      .sds-svg-icon--icon-checkmarked {
        fill: $very-light-gray;
      }

      &.selected {
        .sds-svg-icon__wrapper {
          cursor: default;
        }

        .sds-svg-icon--icon-checkmarked {
          fill: $light-green;
        }
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      text-align: center;
    }

    &-name {
      width: 340px;
      margin-right: 10px;
      font-weight: 500;
    }

    &-project {
      font-weight: 500;
    }
  }

  .popover-objects-list-buttons {
    background: $very-light-gray;
    display: flex;
    justify-content: flex-end;
    letter-spacing: normal;
    font-weight: 200;
    font-size: 18px;
    margin: 0 10px 10px;
  }

  .popover-objects-list-button {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    width: 25%;
    text-align: center;
    color: $default-white;
    cursor: pointer;
  }

  .popover-objects-list-submit {
    background: $simple-middle-blue;
    &:hover {
      background: $medium-dark-blue;
    }
    &.disabled {
      background: $forty-percent-gray;
      cursor: default;
    }
  }

  .popover-objects-list-cancel {
    background: $very-light-gray;
    border-left: 2px solid $default-white;
    &:hover {
      background: $gray;
    }
  }
}

.ec-react-popover__objects-list--multi-select .ec-react-popover__content {
  max-height: 420px;
}

.popover-box .dashboard-time-range-popover-list {
  .ec-react-popover__list {
    max-height: 215px;
  }
}

.catalog-popover {
  .catalog-popover-content {
    padding: 0 5px 10px 15px;
  }

  .catalog-popover-header {
    padding: 9px 0;
    display: flex;
    align-items: center;
  }

  .catalog-popover-icon {
    flex-shrink: 0;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;

    img {
      max-height: 100%;
    }

    .sds-svg-icon {
      max-height: 100%;
      height: 20px;
    }

    .sds-svg-icon--logo-aws {
      width: 52px;
    }

    .sds-svg-icon--logo-catalog-pipeline,
    .sds-svg-icon--logo-catalog-release {
      width: 37px;
    }

    .sds-svg-icon--logo-deployment-package {
      width: 27px;
      height: 30px;
    }

    .sds-svg-icon--logo-ibm-websphere {
      width: 93px;
      height: 15px;
    }

    .sds-svg-icon--logo-jboss {
      width: 41px;
      height: 23px;
    }

    .sds-svg-icon--logo-microsoft-azure {
      width: 94px;
      height: 13px;
    }

    .sds-svg-icon--logo-microsoft-iis {
      width: 70px;
    }

    .sds-svg-icon--logo-oracle-weblogic {
      width: 68px;
      height: 21px;
    }

    .sds-svg-icon--logo-tomcat {
      width: 40px;
      height: 28px;
    }

    .sds-img-icon--logo-sql-server,
    .sds-svg-icon--logo-sql-server {
      width: 83px;
      height: 23px;
    }

    .sds-svg-icon--logo-mysql {
      width: 48px;
      height: 25px;
    }

    .sds-svg-icon--logo-oracle {
      width: 75px;
      height: 10px;
    }

    .sds-svg-icon--logo-spring-boot {
      width: 28px;
      height: 25px;
    }
  }

  .catalog-popover-title {
    @include sds-ellipsis;
    padding: 0 10px;
    flex-shrink: 1;
  }

  .catalog-popover-body {
    position: relative;
    max-height: 500px;
    padding-right: 5px;
    overflow-y: auto;
    font-size: 12px;
    line-height: 15px;

    >:first-child {
      border-top: 2px solid $default-black;
    }
  }

  .catalog-popover-info {
    padding: 5px 0;
    border-bottom: 2px solid $medium-dark-gray;
  }

  .catalog-popover-desc {
    padding-top: 1em;
  }
}

.on-error-popover {
  .ec-react-popover__list {
    max-height: 145px;
  }
  .ec-react-popover__not-link {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    .sds-svg-icon {
      margin-right: 8px;
    }
  }
}
