//================================================
//  Wizard pipeline-run
//================================================

.modals-box .pipeline-run-modal {
  .ec-react-wizard__content {
    height: 544px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .parameter-item {
    padding-right: 0;
    padding-left: 0;
  }

  .parameters-row__total-number-digits {
    width: 27px;
    overflow: hidden;
  }

  .header {
    @include modal-header-text();
    white-space: pre;

    .sds-svg-icon--icon-pipeline {
      fill: $violet;
    }
  }

  .stages-row {
    @include modal-row();
    @include separator();
    border-top: 2px solid $separatorBG;
    cursor: pointer;

    .sds-svg-icon--icon-stage {
      fill: $light-blue;
    }

    .stages-number {
      display: flex;
      align-items: center;
      flex: 80;
    }

    .stages-configuration {
      display: flex;
      align-items: center;
      flex: 20;
      justify-content: flex-end;
    }

    .stage-configuration-title {
      @include sds-ellipsis();
      width: 370px;
      text-align: left;
    }
  }

}
