//================================================
//  Wizard rolling-deploy
//================================================

.modals-box .ec-react-wizard--app-run-rolling-deploy {
  .ec-react-wizard__content {
    padding: 20px 20px 0;
  }

  .header {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header__env-name {
      max-width: calc(100% - 100px);
      text-align: center;
      @include sds-ellipsis();
    }
  }

  .ec-grid-primary__row {
    height: 40px;
  }

  .ec-grid-primary__col {
    height: 40px;
    line-height: 40px;
  }

  .app-run-rolling-deploy {
    height: 435px;
    margin-top: 10px;
    overflow: auto;
  }

  .app-run-rolling-deploy-phases-list {
    @include separator();
  }

  .app-run-rolling-deploy-manual-step {
    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__separator {
      margin-top: 10px;
      @include separator();
    }

    &__assignees-container {
      margin-top: 10px;
      font-size: 16px;
    }

    &__assignees {
      text-align: left;
      margin: 10px 0;
    }

    .react-form__checkbox-container__label--text {
      font-size: 16px;
    }

    .react-form__checkbox-container {
      display: inline-block;
    }

    .react-form__radio-block--app-run-steps {
      @include radio-button--standard();
    }
  }
}


.rolling-deploy-strategy-wizard {
  .ec-row--header {
    @include sds-ellipsis();
    white-space: pre;
    .sds-icon.environment {
      font-size: 22px;
      color: $orange;
    }
  }
  .sds-svg-icon__container {
    position: absolute;
    width: 40px;
    left: 20px;
  }
  .sds-svg-icon--icon-phases,
  .sds-svg-icon--icon-batch {
    margin: 0 auto;
    fill: $ninety-percent-blue;
  }

  .react-form__radio-block--action-type {
    margin-bottom: 40px;

    .react-form__radio-container.selected .react-form__radio-container__label {
      background-color: $fifty-percent-gray;
      color: $default-white;
      fill: $default-white;
      &:hover {
        cursor: default;
      }
    }

    .react-form__radio-container__label {
      padding-left: 10px;
      &:not(.disabled):hover {
        background-color: $gray;
        color: $default-white;
        fill: $default-white;
      }
    }
  }

  .react-form__radio-container {
    border-bottom: 2px solid;
    margin: 0 10px;
    &:first-child {
      border-top: 2px solid;
    }
  }

  .react-form__radio-container__label {
    position: relative;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    &__icon {
      position: absolute;
      right: 0;
      font-size: 20px;
      width: 40px;
    }
  }
}

.ec-react-popover__popover-add-header.rolling-deploy {
  height: 30px;
  line-height: 20px;
}

.react-form__radio-block--rolling-deploy-type {
  margin: 0 10px 5px;
  border-top: 2px solid;
  .react-form__radio-container {
    position: relative;
    &:first-child {
      margin: 2px 0;
    }

    &.selected .react-form__radio-container__label {
      background-color: $fifty-percent-gray;
      color: $default-white;
      fill: $default-white;
      &:hover {
        cursor: default;
      }
    }
  }
  .react-form__radio-container__label {
    position: relative;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    &__icon {
      position: absolute;
      right: 0;
      font-size: 20px;
      width: 40px;
    }
    &:not(.disabled):hover {
      background-color: $gray;
      color: $default-white;
      fill: $default-white;
    }
  }

  .sds-svg-icon--icon-batch {
    height: 18px;
    width: 18px;
  }

  .radio-custom-icon {
    position: relative;
  }

}
