//================================================
//  Wizard dsl-editor
//================================================

.CodeMirror-hints {
  z-index: 103;
}

.modals-box .ec-react-wizard--dsl-editor {

  .CodeMirror {
    box-sizing: border-box;
    text-align: left;

    &.cm-s-default {
      .cm-comment {
        color: $grey;
      }

      .cm-variable {
        color: $darkgreen;
      }

      .cm-property {
        color: $teal;
      }
    }
  }

  .ec-react-wizard {

    &__window--second {
      display: none;
    }

    &__loader {
      @include flex-column;
    }

    &__content {
      padding: 10px;
      overflow: hidden;
      flex-basis: 0;
    }

    &__footer {
      background-color: $very-soft-gray;

      .ec-wizard-btn {
        width: 200px;
        float: right;
      }
    }
  }
}

.modals-box .ec-react-wizard--dsl-editor.fullscreen {
  .ec-react-wizard {
    margin: 0;

    &__window {
      margin: 0;
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
    }
  }
}
