//================================================
//  Default color Variables
//================================================

$light-black:          #414042;
$soft-black:           #333;
$light-lilac:          #d7b2de;
$french-lilac:         #edd7f2;
$very-light-violet:    #8b6999;
$light-violet:         #bc3cc2;
$soft-violet:          #9d45b3;
$violet:               #7f3f97;
$middle-violet:        #652d90;
$bright-purple:        #ebdeff;
$light-purple:         #9669db;
$middle-purple:        #904fd4;
$light-blue:           #4d9b9e;
$very-light-gray:      #b2b2b2;
$soft-light-gray:      #dfdfdf;
$soft-dark-gray:       #666;
$dark-gray:            #4d4d4d;
$most-light-gray:      #e6e6e6;
$brown:                #744c27;
$soft-light-blue:      #769dbc;
$deep-dark-blue:       #244873;
$simple-dark-blue:     #506d8f;
$simple-light-blue:    #99b5c3;
$sky-blue:             #c1dced;
$some-light-gray:      #d9d9d9;
$medium-dark-gray:     #7f7f7f;
$code-blue:            #e8f2ff;
$soft-red:             #d16966;
$very-light-red:       #efb5a3;
$very-light-green:     #a1ceaa;
$soft-green:           #c2de8a;
$dark-green:           #7db087;
$saturated-green:      #5c9d4b;
$green-success:        #8bc43f;
$limegreen:            #32cd32;
$lime:                 #ace388;
$orange-yellow:        #fcd6a9;
$light-sunny:          #f7e3b2;
$sunny:                #d77f39;
$hovered-base-blue:    #1864a1;
$hovered-pale-blue:    #5e8bc7;
$lime-green:           #48ab02;
$white-smoke:          #eee;
$denim-blue:           #1a6bb6;
$light-yellow:         #feffde;
$alizarin-red:         #ec1c24;
$fire-brick-red:       #bb202e;

/****************************************
 * Colors Variables
 ****************************************/

// Defaults
$default-white: #fff;
$default-black: #000;


$default-red: #eb1c24;
$dark-red: #be1e2d;
$very-dark-red: #a31e29;
$light-red: #f0b6a3;
$default-green: #70b723;
$true-green: #4a9819;
$default-text-color: #333;
$input-text-color: #2e2e2e;
$input-border: #c5c5c5;
$input-text-disabled-color: #5c5c5c;
$ok-btn-bg: #a7a8ac;
$ec-radio-border: #a1a3a6;
$red: #f00;


// links
$color-link-primary: #08c;
$color-link-hover-primary: #005580;


// form controls
$color-input-primary: #555;


// blue
$very-light-blue: #cce9ff;
$very-soft-blue: #85b0e3;
$medium-soft-blue: #779bb8;
$gray-blue: #6b87a1;
$soft-blue: #5e9ccb;
$dark-blue: #2f378a;
$very-dark-blue: #101d5f;
$medium-dark-blue: #297ab8;
$dim-blue: #c3d9d7;
$medium-blue: #73abcc;
$lochmara-blue: #3569b1;
$regal-blue: #19334a;
$strong-blue: #1b75bb;
$maya-blue: #5897fb;
$san-morino-blue: #517fa1;
$glacier-blue: #779ac2;
$haze-blue: #b3b8c8;
$puerto-rico-blue: #3fb8af;
$jordy-blue: #73b8ee;
$azure-blue: #00adef;


// orange
$orange: #ff8912;
$dark-orange: #da833e;
$very-dark-orange: #de9f64;
$light-orange: #fba400;
$very-light-orange: #fe6d00;
$romneya-orange: #f6921e;
$gold-orange: #eb7f02;


// gray
$gray: #959595;
$soft-gray: #ccc;
$very-soft-gray: #e5e5e5;
$medium-soft-gray: #aaa;
$emperor-gray: #535353;
$suva-gray: #8a8a8a;
$default-gray: #848484;
$dim-gray: #686868;
$athens-gray: #dcddde;
$iron-gray: #d1d3d4;
$chateau-gray: #939598;
$heather-gray: #bcbec0;
$eclipse-gray: #3a3a3a;
$dim-dark-gray: #616161;
$silver-gray: #bababa;
$gallery-gray: #ebebeb;
$mercury-gray: #e8e7e6;
$silver-chalice: #a6a6a6;


// white hue
$gainsboro-white: #ddd;
$whisper-white: #ededed;
$alabaster-white: #fafafa;
$medium-white: #f2f2f2;


// green
$light-green: #8ac33e;
$dim-green: #c8e8cf;
$sushi-green: #739936;
$dark-sushi-green: #5b921d;
$light-sushi-green: #71b723;
$persian-green: #00a8a3;


// Main
$completeGreen: #c2de8b;
$errorRed: #d10009;
$warningYellow: #f0ad4e;


// WIZARD
// Wizard Breadcrumbs
$wBreadcrumbColorFirst:    #888;
$wBreadcrumbColorThird:    #294867;
$wBreadcrumbColorFourth:   #19619a;
$wBreadcrumbColorFifth:    #1f7cbd;
$wBreadcrumbColorSixth:    #4b9ad2;
$wBreadcrumbColorSeventh:  #71b7e5;
$wBreadcrumbColorEigth:    #9adbfe;


// Main menu
$mainMenuBackground:       #e1eaf1;
$mainMenuHover:            #d3dfe9;
$selectedMenuColor:        #5e8fb5;


// Sub Menu
$subMenuBackgroundColor:   #afcbe3;
$menuSelectedArrowColor:   #c3d4e3;


// Process step
$prGhostStepDroppedControl: #b3b3b3;


// Application Process
$prStepMainColor:           #b5d873;


// Component Process
$compPrStepMain: #fee083;


// Step Wizard
$sub-view-lvl2-bg:    #61a8df;


// environment
$env-col-tier-icon-color: #3a55a2;


// _ec-grid
$ec-grid-empty-blue-color: #286bb2;


// run menu
$runMenuIconColor:    #f0f0f0;


// notifications
$appNotificationsBorderColor: #e8e8e8;
$appNotificationsRecipientsIconColor: #ae6a99;
$appNotificationsTogglePromptBgOff: #cc8157;


// Select2 customization
$select2-automatch-search-choice-focus: #d5853a;
$select2-automatch-without-email-color: #bb344a;


// notification templates
$code-mirror-border: #dcdcdc;
$notifications-template-popover-apply-btn: #010101;
$notifications-template-modal-header-locked: #777;
$notifications-template-modal-outline: #101010;
$notifications-template-modal-footer: #f3f3f3;
$notifications-template-edit-template-header-border: #dedede;
$notifications-template-edit-template-header-btn: #5a5a5c;


// notification edit modal
$notification-tooltip-background: #f5f9ef;
$notification-tooltip-border: #d2e0c1;
$notification-item-border-bottom: #e6e7e8;
$notification-template-msg: #52892e;
$notification-tooltip-text-color: #3a3a3c;


// snapshots list
$snapshots-list-compare-btn-color: #01a7a3;
$snapshots-list-empty-bg-hover: #4f94c9;


// snapshots create
$snapshots-create-app-icon-color: #729dd6;


$history-timeline-pin-bg: #01a14b;

// Resource templates
$resource-templates-provider-icons-color: #4a4a4a;
$resource-templates-provider-openstack-color: #ab001b;
$resource-templates-resource-icon-color: #668bb3;


// number-input
$ec-ni-input-border-color: #1975be;
$ec-ni-btn-disabled-bg: #cbcbcb;


//  ec-tabs
$ec-tabs-disabled-text-color: #f9f9f9;


$light-gray: #d3d3d3;
$ten-percent-gray: #f1f1f1;
$fifteen-percent-gray: #b7b7b7;
$twenty-percent-gray: #9d9d9d;
$forty-percent-gray: #999;
$fifty-percent-gray: #808080;
$seventy-percent-gray: #656565;
$very-dark-grey: #3e3e3e;
$grey: #808080;
$darkgreen: #006400;
$teal: #008080;


$deep-blue: #185eae;
$blue: #78a0db;
$middle-blue: #1a74ba;
$bright-blue: #07aef0;
$simple-middle-blue: #3e99df;
$active-blue: #1a75bb;
$light-sky-blue: #88cef8;
$dark-sky-blue: #4383b1;
$steel-blue: #528dc1;
$cornflower-blue: #82b2e0;
$simple-sky-blue: #00adee;


$ten-percent-blue: #cae7fd;
$fifty-percent-blue: #567b99;
$sixty-percent-blue: #769ab6;
$eighty-percent-blue: #32507a;
$ninety-percent-blue: #22409a;


$fifty-fill-white: rgba(255, 255, 255, .5);
$seventh-fill-white: rgba(255, 255, 255, .7);
$eighty-fill-white: rgba(255, 255, 255, .8);


$forty-fill-blue: rgba(162, 224, 251, 0.4);


$ten-percent-black: lighten($default-black, 90%);
$twenty-percent-black: lighten($default-black, 80%);
$thirty-percent-black: lighten($default-black, 70%);
$forty-percent-black: lighten($default-black, 60%);
$fifty-percent-black: lighten($default-black, 50%);
$sixty-percent-black: lighten($default-black, 40%);
$seventh-percent-black: lighten($default-black, 30%);
$eighty-percent-black: lighten($default-black, 20%);
$ninety-percent-black: lighten($default-black, 10%);


$step-gradient-app-start: #a6e764;
$step-gradient-app-end: #5ca046;
$step-gradient-app-footer: #437542;

$step-gradient-rollback-start: #f25a29;
$step-gradient-rollback-end: #b32318;
$step-gradient-rollback-footer: #94000e;

$step-gradient-manual-start: #78a9ec;
$step-gradient-manual-end: #304876;
$step-gradient-manual-footer: #2f4487;

$step-gradient-comp-start: #fcaa00;
$step-gradient-comp-end: #dc5d0e;

$step-gradient-comp-manual-start: #78a9ec;
$step-gradient-comp-manual-end: #304876;
