//================================================
//  Form elements settings
//================================================

$placeholder-color: #999999;

$input-bg: #f1f1f1;
$input-border-color: #c5c5c5;
$input-border-color-focus: #3e99df;
