//================================================
//  Buttons settings
//================================================

$btn-color-disabled: #d9d9d9;

$btn-bg-normal: #b2b2b2;
$btn-bg-hover: #959595;
$btn-bg-active: #7d7d7d;

$btn-primary-bg-disabled: #999;
$btn-primary-bg-normal: #3e99df;
$btn-primary-bg-hover: #297ab8;
$btn-primary-bg-active: #206091;

$btn-height: 60px;
$btn-width: 200px;
