//================================================
//  Icon Unicode Values
//================================================

$sds-icon-add-component: "\F032";
$sds-icon-add-process: "\F030";
$sds-icon-add-rule: "\F180";
$sds-icon-add-step: "\F013";
$sds-icon-add-task: "\F175";
$sds-icon-add-tier: "\F02F";
$sds-icon-add-map: "\F054";
$sds-icon-application: "\F044";
$sds-icon-arrow-back: "\F053";
$sds-icon-arrow-close: "\F012";
$sds-icon-arrow-down: "\F015";
$sds-icon-arrow-open: "\F011";
$sds-icon-arrow-up: "\F014";
$sds-icon-back: "\F022";
$sds-icon-home: "\F03E";
$sds-icon-collapse: "\F00D";
$sds-icon-command: "\F049";
$sds-icon-procedure: "\F048";
$sds-icon-component2: "\F043";
$sds-icon-component: "\F000";
$sds-icon-conditions: "\F094";
$sds-icon-credentials: "\F095";
$sds-icon-dashboard: "\F002";
$sds-icon-delete: "\F093";
$sds-icon-dropdown: "\F010";
$sds-icon-edit-mode: "\F02B";
$sds-icon-edit: "\F035";
$sds-icon-entry-gate: "\F185";
$sds-icon-exit-gate: "\F186";
$sds-icon-expand: "\F00C";
$sds-icon-export-change: "\F131";
$sds-icon-file-system: "\F03B";
$sds-icon-header-collapse: "\F021";
$sds-icon-header-expand: "\F020";
$sds-icon-import: "\F025";
$sds-icon-menu-slide-collapsed: "\F028";
$sds-icon-menu-slide: "\F001";
$sds-icon-move: "\F034";
$sds-icon-notifications: "\F004";
$sds-icon-notification-add: "\F112";
$sds-icon-notification-remove: "\F113";
$sds-icon-panel-collapsed: "\F01F";
$sds-icon-panel-open: "\F121";
$sds-icon-pipelines-run: "\F187";
$sds-icon-place-above: "\F01D";
$sds-icon-place-below: "\F01E";
$sds-icon-plugin: "\F027";
$sds-icon-plus-sign: "\F026";
$sds-icon-redo: "\F02D";
$sds-icon-repository: "\F03A";
$sds-icon-row-first: "\F024";
$sds-icon-row-last: "\F023";
$sds-icon-scale-to-fit: "\F02E";
$sds-icon-search: "\F003";
$sds-icon-settings: "\F006";
$sds-icon-sort-down: "\F01B";
$sds-icon-sort-up: "\F01C";
$sds-icon-sort: "\F00B";
$sds-icon-source: "\F03C";
$sds-icon-steps: "\F01A";
$sds-icon-tag: "\F00A";
$sds-icon-template: "\F106";
$sds-icon-tier-map: "\F067";
$sds-icon-toolbox: "\F005";
$sds-icon-undo: "\F02C";
$sds-icon-view-architecture: "\F029";
$sds-icon-view-col-1: "\F009";
$sds-icon-view-col-2: "\F008";
$sds-icon-view-components: "\F033";
$sds-icon-view-details: "\F077";
$sds-icon-view-hierarchy: "\F02A";
$sds-icon-view-path: "\F133";
$sds-icon-view-processes: "\F031";
$sds-icon-view-properties: "\F038";
$sds-icon-view-tiers: "\F039";
$sds-icon-view-tile: "\F007";
$sds-icon-x: "\F037";
$sds-icon-zoom-in: "\F00E";
$sds-icon-zoom-out: "\F00F";
$sds-icon-attention: "\F052";
$sds-icon-check-mark: "\F051";
$sds-icon-folder-plus: "\F076";
$sds-icon-folder: "\F075";
$sds-icon-properties: "\F072";
$sds-icon-access: "\F073";
$sds-icon-go-to-details: "\F077";
$sds-icon-property: "\F062";
$sds-icon-version: "\F05B";
$sds-icon-details-arrow: "\F071";
$sds-icon-row: "\F05A";
$sds-icon-inventory: "\F070";
$sds-icon-artifact: "\F078";
$sds-icon-remove: "\F055";
$sds-icon-add-resource: "\F079";
$sds-icon-static-resource: "\F080";
$sds-icon-clock: "\F082";
$sds-icon-acl: "\F074";
$sds-icon-equal-to: "\F084";
$sds-icon-not-equal-to: "\F085";
$sds-icon-greater-than: "\F086";
$sds-icon-greater-than-or-equal-to: "\F087";
$sds-icon-less-than: "\F088";
$sds-icon-less-than-or-equal-to: "\F089";
$sds-icon-contains: "\F090";
$sds-icon-not-contains: "\F091";
$sds-icon-empty: "\F092";
$sds-icon-success: "\F096";
$sds-icon-abort: "\F097";
$sds-icon-skip: "\F098";
$sds-icon-cancel: "\F099";
$sds-icon-error: "\F100";
$sds-icon-g-expand: "\F102";
$sds-icon-g-collapse: "\F103";
$sds-icon-notification: "\F108";
$sds-icon-sort-item-up: "\F01C";
$sds-icon-sort-item-down: "\F01B";
$sds-icon-linux: "\F101";
$sds-icon-windows: "\F117";
$sds-icon-solaris: "\F118";
$sds-icon-hpux: "\F119";
$sds-icon-macos: "\F120";
$sds-icon-schedule: "\F116";
$sds-icon-recipients: "\F109";
$sds-icon-eye: "\F036";
$sds-icon-snapshot: "\F122";
$sds-icon-no-snapshot: "\F246";
$sds-icon-history-modified: "\F127";
$sds-icon-history-created: "\F128";
$sds-icon-history-deleted: "\F129";
$sds-icon-history-enabled: "\F164";
$sds-icon-history-disabled: "\F165";
$sds-icon-track-changes: "\F132";
$sds-icon-time-until: "\F130";
$sds-icon-lock: "\F123";
$sds-icon-compare: "\F136";
$sds-icon-description: "\F126";
$sds-icon-info-description: "\F258";
$sds-icon-undeployed: "\F124";
$sds-icon-change-alert: "\F135";
$sds-icon-expand-details: "\F063";
$sds-icon-success: "\F139";
$sds-icon-bb: "\F137";
$sds-icon-expand-details-copy: "\F137";
$sds-icon-env-template: "\F140";
$sds-icon-resource-pool: "\F151";
$sds-icon-provider-aws: "\F152";
$sds-icon-provider-openstack: "\F153";
$sds-icon-provider-chef: "\F154";
$sds-icon-provider-default: "\F162";
$sds-icon-environment-tmpl: "\F106";
$sds-icon-expand-area: "\F138";
$sds-icon-dynamic-resource: "\F148";
$sds-icon-cb-toggler-btn-on: "\F142";
$sds-icon-cb-toggler-btn-off: "\F141";
$sds-icon-dynamic-env: "\F144";
$sds-icon-kill-switch: "\F150";
$sds-icon-environment-tmpl-not-empty: "\F148";
$sds-icon-cloud-provider: "\F157";
$sds-icon-provision: "\F158";
$sds-icon-cloud-instance: "\F159";
$sds-icon-parameters: "\F160";
$sds-icon-pipeline: "\F166";
$sds-icon-help: "\F125";
$sds-icon-info: "\F111";
$sds-info-round: "\F513";
$sds-icon-static-env-up: "\F05A";
$sds-icon-static-env-down: "\F145";
$sds-icon-dynamic-env-up: "\F144";
$sds-icon-dynamic-env-down: "\F147";
$sds-icon-mixed-env-up: "\F143";
$sds-icon-mixed-env-down: "\F146";
$sds-icon-drag: "\F161";
$sds-icon-lookup: "\F163";
$sds-icon-pipeline: "\F166";
$sds-icon-right-arrow: "\F03D";
$sds-icon-stages: "\F167";
$sds-icon-2x: "\F170";
$sds-icon-add-before: "\F179";
$sds-icon-add-after: "\F178";
$sds-icon-task: "\F169";
$sds-icon-reload: "\F501";
$sds-icon-hand-stop: "\F183";
$sds-icon-hand-stop-white: "\F182";
$sds-icon-success-round: "\F110";
$sds-icon-warning: "\F05E";
$sds-icon-radio-btn: "\F173";
$sds-icon-radio-btn-selected: "\F174";
$sds-icon-approval-label: "\F181";
$sds-icon-drill-down: "\F107";
$sds-icon-done: "\F107";
$sds-icon-slider-arrow-right: "\F011";
$sds-icon-slider-arrow-left: "\F012";
$sds-icon-checkbox: "\F069";
$sds-icon-checkbox-checked: "\F068";
$sds-icon-users: "\F041";
$sds-icon-add-task-before: "\F194";
$sds-icon-add-task-after: "\F195";
$sds-icon-beta: "\F196";
$sds-icon-workflow: "\F177";
$sds-icon-error-details: "\F189";
$sds-icon-squeeze-details: "\F168";
$sds-icon-stage-plus: "\F176";
$sds-icon-arrow-down-inverse: "\F190";
$sds-icon-stage-warning: "\F199";
$sds-icon-type-variable: "\F198";
$sds-icon-drill-down-content: "\F203";
$sds-icon-comment: "\F204";
$sds-icon-releases: "\F197";
$sds-icon-ref-component: "\F208";
$sds-icon-alert-flag: "\F205";
$sds-icon-move-right: "\F210";
$sds-icon-plugin-category: "\F209";
$sds-icon-abort: "\F510";
$sds-icon-skipped: "\F500";
$sds-icon-move-left: "\F227";
$sds-icon-deployer: "\F212";
$sds-icon-fillcell: "\F215";
$sds-icon-clearcell: "\F216";
$sds-icon-narrowcolumn: "\F225";
$sds-icon-expandcolumn: "\F226";
$sds-icon-missingenvironment1: "\F217";
$sds-icon-missingenvironment2: "\F218";
$sds-icon-missingtiermap1: "\F219";
$sds-icon-missingtiermap2: "\F220";
$sds-icon-markedna1: "\F221";
$sds-icon-markedna2: "\F222";
$sds-icon-emptycells1: "\F223";
$sds-icon-emptycells2: "\F224";
$sds-icon-dots: "\F149";
$sds-icon-planning: "\F235";
$sds-icon-completed: "\F236";
$sds-icon-note: "\F238";
$sds-icon-start: "\F239";
$sds-icon-end: "\F240";
$sds-icon-re-run: "\F241";
$sds-collapse-horizontal: "\F232";
$sds-expand-horizontal: "\F231";
$sds-mismatch: "\F230";
$sds-mismatch-box: "\F228";
$sds-error-box: "\F229";
$sds-thin-arrow: "\F233";
$sds-missing-process: "\F248";
$sds-missing-configuration: "\F244";
$sds-re-run-pipeline: "\F247";
$sds-dots-in-circle: "\F214";
$sds-order-icon: "\F256";
$sds-icon-rule: "\F181";
$sds-early-icon: "\F257";
$sds-frequency-once-icon: "\F251";
$sds-frequency-daily-icon: "\F252";
$sds-frequency-weekly-icon: "\F253";
$sds-frequency-monthly-icon: "\F254";
$sds-schedule-end: "\F255";
$sds-custom-config: "\F259";
$sds-rerun: "\F247";
$sds-component-process: "\F081";
