//================================================
//  Schedule confirmation-wizard
//================================================

.modals-box .schedule-confirmation-wizard .ec-react-wizard__content {
  padding: 0;
}

.schedule-confirmation-wizard {
  $block: '.schedule-confirmation-wizard';

  #{$block}__text {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    width: 300px;
    height: 112px;
    margin: 40px auto;
    line-height: 28px;
    text-align: center;
  }
}

