//================================================
//  Schedule create-from-previous
//================================================

.schedule-create-from-previous {
  .header {
    font-weight: 200;
    font-size: 24px;
    line-height: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sds-ellipsis();

    .text {
      max-width: 600px; //default one
      @include sds-ellipsis;
    }
  }

  .sds-svg-icon--icon-runtime-status-success {
    fill: $saturated-green;
  }

  .sds-svg-icon--icon-runtime-status-aborted {
    fill: $fifty-percent-gray;
  }

  .sds-svg-icon--icon-runtime-status-failed {
    fill: $default-red;
  }

  .sds-svg-icon--icon-runtime-status-running {
    fill: $soft-light-blue;
  }

  .sds-svg-icon--icon-runtime-status-running {
    fill: $soft-light-blue;
  }

  .sds-svg-icon--icon-runtime-status-flagged {
    fill: $dark-orange;
  }

  .ec-grid-primary .sds-svg-icon--icon-checkmarked {
    fill: $black;
  }
}
