//================================================
//  object-menu
//================================================

.object-menu:not(.sds-svg-icon) {
  width: 180px;
  letter-spacing: 0.5px;
  position: absolute;
  z-index: zindex(popover);

  background-color: $dark-gray;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 15px 0;

  .menu-arrow {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    right: -22px;
    width: 22px;
    height: 54px;
    overflow: hidden;

    &:before {
      margin: 14px;
      right: 0;
      top: 0;
      content: "";
      width: 28px;
      height: 28px;
      transform: rotate(45deg);
      position: absolute;
      background-color: $dark-gray;
      box-shadow: rgba(0, 0, 0, 0.7) 0 0 15px 0;
    }
  }

  &:before {
    content: '';
    width: 28px;
    height: 28px;

    position: absolute;
    z-index: -1;

    transform: rotate(45deg);

    background-color: $dark-gray;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 15px 0;
  }

  &.top:before {
    bottom: 36px;
  }

  &.right:before {
    left: -10px;
  }

  &.bottom:before {
    top: 36px;
  }

  &.left:before {
    right: -10px;
  }

  &.stationary {
    .menu-arrow {
      display: block;
    }
    &:before {
      display: none;
    }
  }

  .item {
    height: 48px;
    display: block;
    position: relative;
    text-align: right;
    text-decoration: none;
    line-height: 48px;
    font-size: 12px;
    color: $default-white;
    cursor: pointer;
    border-top: 2px solid $fifty-percent-gray;
    background-color: $dark-gray;

    &:first-child {
      border-top-color: transparent;
    }

    .sds-svg-icon {
      fill: $default-white;
      height: 18px;
      margin: 0 10px;
    }

    &:hover {
      background-color: $fifty-percent-gray;
    }
  }

  .item.disabled {

  }
}
