//================================================
//  Tabs
//================================================

.category-bar,
.snapshot-category-bar {
  text-align: center;
}

.ec-tabs {
  height: 32px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $emperor-gray;

  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }

  &.list-tabs {
    margin: 10px 0 15px;
  }

  .ec-tab {
    height: 30px;
    width: 266px;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid $emperor-gray;
    font-size: 14px;

    &:hover {
      background-color: $light-gray;
    }

    &.disabled {
      cursor: default;
      color: $medium-soft-gray;
      background-color: $ec-tabs-disabled-text-color;
      .sds-svg-icon {
        fill: $medium-soft-gray;
      }
    }
  }

  .ec-tab.active {
    cursor: default;
    color: $default-white;
    background-color: $emperor-gray;

    .sds-svg-icon {
      fill: $default-white;
    }
  }

  .ec-tab-text {
    line-height: 30px;
    vertical-align: middle;
  }

  .ec-tab .ec-tab-error,
  .ec-tab.active .ec-tab-error {
    fill: $errorRed;
  }

  .sds-svg-icon {
    &--icon-templates {
      fill: $orange;
    }

    &--icon-runtime-status-failed {
      fill: $default-red;
    }
  }

  .resource-template-tab {
    .sds-svg-icon--icon-templates {
      fill: $soft-blue;
    }
  }
}

.resource-edit-tabs {
  .ec-tab {
    width: 158px;
  }
}