//================================================
//  Parameters wizard
//================================================

.create-parameters-from-scratch {
  font-size: 18px;
  height: 600px;
  background-color: $default-white;
  width: 630px;
  font-weight: normal;

  .sds-icon.arrow-back {
    top: 15px;
  }

  &.show-right {
    width: 1230px;
  }

  .ec-wizard-foot  {
    min-height: 60px;
    height: 60px;
  }

  // todo: check this z-index
  .ec-wizard-foot .ec-wizard-foot-inner {
    z-index: 9997;
  }

  .ec-wizard-confirmation {
    z-index: 9999;
    background: $eighty-fill-white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    .ec-wizard-confirmation-footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 60px;
      .ec-wizard-button {
        width: 298px;
        height: 60px;
        font-size: 18px;
        line-height: 60px;
      }
    }
    .ec-wizard-confirmation-body {
      position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
      padding: 20px;
      color: $default-white;
      background-color: $medium-dark-blue;
    }
    .title {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 10px;
      text-align: center;
      &:before {
        content: '';
        height: 19px;
        width: 24px;
        background-image: url('../img/attention.png');
        display: inline-block;
        margin: 0 5px -3px 0;
      }
    }
    .text {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }

  .ec-wizard-body {
    .label-container {
      position: relative;
      .react-form {
        &__label {
          width: 65px;
          position: absolute;
          top: 0;
          margin: 0 25px;
          text-align: center;
          right: 0;
          height: 50px;
        }
        &__text {
          cursor: pointer;
          color: $btn-primary-bg-normal;
        }
      }
      &__confirm {
        z-index: 1;
        width: 100%;
        height: 50px;
        position: absolute;
        &__delete {
          cursor: pointer;
          height: 40px;
          width: 348px;
          margin: 0 auto;
          text-align: center;
          background-color: $simple-middle-blue;
          &:hover {
            background-color: $medium-dark-blue;
          }
          &__text {
            color: $default-white;
            line-height: 40px;
          }
        }
      }
    }

    .heading {
      @include modal-header-text();
    }

    .left {
      position: relative;
      width: 600px;
      float: left;
    }

    .right {
      width: 598px;
      float: right;
      height: 394px;
      border-left: 2px solid $default-black;
      .react-form__textarea {
        height: 350px;
      }
      .load-from-list {
        &__label {
          width: 348px;
          height: 38px;
          margin: 25px auto;
          text-align: left;
          font-size: 15px;
        }
      }
      .options-list {
        .form {
          &__row {
            border-bottom: 2px solid $forty-percent-gray;
            &:last-child {
              border-bottom: 0;
            }
          }
          &-input {
            flex: 1;
          }
          &__input {
            width: 186px;
            margin-bottom: 0;
          }
          &__input-container {
            display: flex;
            margin-bottom: 20px;
            &__label {
              display: inline-block;
              cursor: pointer;
              font-size: 18px;
              line-height: 38px;
            }
            &__number {
              line-height: 38px;
              width: 30px;
              font-size: 16px;
              display: inline-block;
            }
            &:first-child {
              margin-top: 20px;
            }
          }

        }
        text-align: center;
        &__container {
          width: 500px;
          margin: 0 auto;
          &__body {
            height: 295px;
            overflow-y: auto;
          }
          &__header {
            border-bottom: 2px solid $default-black;
            &__label {
              cursor: pointer;
              line-height: 38px;
              margin-left: 12px;
              text-align: right;
              font-size: 14px;
              font-weight: bold;
              &__add-icon {
                margin-left: 5px;
                font-size: 18px;
              }
              &--disabled {
                color: $soft-gray;
                cursor: default;
              }
            }
          }
        }
      }
    }

    .react-form,
    .form {
      &__row {
        text-align: center;
      }
      &__label {
        line-height: 38px;
        font-size: 15px;
        width: 348px;
        text-align: left;
        height: 38px;
        margin: 20px auto;
      }
      &__txt-input-holder,
      &__textarea-holder {
        width: 348px;
      }
      &__txt-input {
        width: 270px;
      }
      &__textarea-container {
        text-align: center;
        float: none;
        width: auto;

      }
      &__input {
        font-size: 18px;
        width: 334px;
        height: 38px;
        padding: 0 6px;
        border: 1px solid $input-border;
        border-radius: 0;
        text-align: left;

        &:focus {
          border: 1px solid $simple-middle-blue;
        }
      }
      &__textarea {
        width: 334px;
        font-size: 18px;
        height: 88px;
        border: 1px solid $input-border;
        border-radius: 0;
        text-align: left;
        @include placeholder {
          color: $forty-percent-gray;
          text-align: left;
        }
      }
      &__select-container {
        height: 40px;
        margin-bottom: 8px;
        .ec-select {
          z-index: 9998;
          left: 50%;
          width: 346px;
        }
      }
      &__checkbox {
        padding: 0;
        border: 0;
        float: left;
        margin-top: 12px;
        font-size: 100%;
        border-radius: 0;
        box-shadow: none;

      }
      &__checkbox-container {
        width: 348px;
        height: 28px;
        margin: 0 auto;
        .ec-react-help__wrapper {
          margin: 8px 0 0 6px;
        }
        &__label {
          display: inline-block;
          font-size: 16px;
        }
      }
      &__radio {
        float: left;
        margin-top: 12px;
        font-size: 100%;
        border-radius: 0;
        box-shadow: none;
      }
      &__radio-container {
        width: 348px;
        height: 26px;
        margin: 0 auto;
        &__label {
          line-height: 26px;
          text-align: left;
          font-size: 16px;
          position: relative;
          &__help-icon {
            margin-left: 5px;
          }
        }
        &__label__icon {
          font-size: 18px;
        }
        &__label__text {
          font-weight: normal;
          margin-left: 8px;
        }
      }
      &__validation {
        line-height: 38px;
        margin-left: 10px;
        font-size: 14px;
        color: $errorRed;
        white-space: nowrap;
        width: 100%;
        text-align: center;
      }
    }
  }

  .ec-wizard-foot {
    .ec-wizard-button {
      width: 300px;
      height: 60px;
      font-size: 18px;
      line-height: 60px;
    }
  }
}

.parameters-table {
  &__lookup {
    width: 470px;
    height: 554px;
    overflow-y: auto;
    .ec-table {
      &__head {
        margin: 0 20px;
        font-size: 14px;
        .ec-table__cell {
          &--index {
            margin-left: -20px;
            .sds-icon {
              position: relative;
              top: -2px;
            }
          }
          &--parameter-copy {
            margin-right: -20px;
          }
        }
      }
      &__row {
        border-bottom: 2px solid $iron-gray;
      }
      &__cell {
        &--index {
          text-align: center;
          padding: 0 0 0 20px;
          flex: 1;
        }
        &--parameter-name {
          flex: 4;
          white-space: nowrap;
        }
        &--parameter-path {
          flex: 4;
          white-space: nowrap;
        }
        &--parameter-copy {
          text-align: center;
          padding: 0 20px 0 0;
        }
      }
    }
  }
}

.process-parameter-detailed-list {
  background-color: $default-white;
  width: 613px;
  .ec-wizard-title {
    font-size: 16px;
    font-weight: bold;
  }
  .parameter-container {
    height: 493px;
    max-width: 554px;
  }
}

//TODO: move to parameters.scss
.parameter-container {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &--empty {
    text-align: center;
  }
  .ec-wizard-title {
    font-size: 16px;
    font-weight: bold;
  }
  .parameter-item {
    padding: 10px 10px 20px;
    font-size: 16px;
    border-bottom: 2px solid $forty-percent-gray;
    &__title {
      margin-bottom: 10px;
      text-align: left;
    }
    &__index {
      margin: 10px;
    }
    &__name {
      display: inline-block;
      width: 60%;
      text-align: left;
      vertical-align: top;
      &--short {
        width: 35%;
      }
    }
    &__name-val {
      float: left;
      @include sds-ellipsis;
      max-width: 90%;
      padding-right: 30px;
      white-space: pre;
    }
    &__body {
      text-align: center;
      position: relative;
      .react-form__textarea-container {
        float: none;
        width: auto;
      }
      .radio-selector-container {
        display: flex;
        justify-content: center;
      }
      .react-form__radio-container {
        margin: 0;
        flex: auto;
        height: 40px;
        text-align: left;
        &__label {
          vertical-align: middle;
          display: inline-block;
          line-height: 40px;
          padding-left: 25px;
          text-align: left;
          font-size: 15px;
          position: relative;
          @include sds-ellipsis;
          max-width: 90%;
          box-sizing: border-box;
        }
        .react-form__radio {
          margin-top: 0;
          float: none;
          display: inline-block;
        }
      }
      .react-form__checkbox-container {
        position: absolute;
        right: 50px;
        top: -41px;
        width: auto;
      }

      .react-form__txt-input {
        width: 320px;
        padding: 0 6px;
      }

      .react-form__pass-input {
        @extend .react-form__txt-input;
        width: 334px;
        padding: 0;
        background-color: $default-white;
      }
      .react-form {
        &__label {
          float: left;
          margin: 0;
          width: 100%;
          text-align: left;
        }
        &__radio {
          float: left;
          margin-top: 12px;
          font-size: 100%;
          border-radius: 0;
          box-shadow: none;
        }
        &__checkbox {
          float: left;
          margin-top: 12px;
          font-size: 100%;
          border-radius: 0;
          box-shadow: none;
        }
        &__validation {
          position: absolute;
          right: 0;
          max-width: 300px;
          text-align: right;
          bottom: 61px;
        }
      }
      .ec-select.active .ec-select-header {
        .parameters,
        .credentials {
          color: $default-black;
        }
      }
    }
    &__required {
      float: right;
      margin-right: 5px;
      font-weight: 200;
      color: $default-red;
    }
  }
  .ec-react-help__wrapper {
    margin-left: -24px;
    line-height: 18px;
    vertical-align: top;
  }

  .drop-down {
    position: relative;
    width: 348px;
    height: 40px;
    margin: 0 auto;
  }

  .parameters {
    margin-right: 10px;
  }

  .ec-modal-confirmation-footer {
    width: 613px;
  }
}

.modals-box {
  .ec-react-wizard__window--second {
    .ec-react-wizard__content {
      padding: 0;
    }
  }
}
