//================================================
//  Path-to-production
//================================================

.path-to-production {
  $block: 'path-to-production';

  padding: 10px 10px 0;
  overflow-x: hidden;
  box-sizing: border-box;

  .ec-row {
    display: flex;
    overflow: hidden;

    &--separate-top {
      margin-top: 5px;
    }

    &__inventory {
      font-size: 18px;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .ec-col {
    width: 100px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    background-color: $ten-percent-gray;
    flex-grow: 0;
    flex-shrink: 0;

    &--flex {
      display: flex;
    }

    &--separate-left {
      margin-left: 5px;
    }

    &__app-names {
      width: 200px;
      text-align: left;
      padding-left: 10px;
      font-weight: 400;

      &--expanded {
        width: 400px;
      }

      &--header {
        height: 30px;
        line-height: 30px;
        background-color: $fifty-percent-gray;
        color: $default-white;
      }

      &--subheader {
        height: 30px;
        line-height: 30px;
      }

      .ec-react-help__wrapper {
        margin: 0 5px;
      }

      .search-collapsable {
        float: right;
        margin: 3px 10px 0 0;
        .search-collapsable__search-input {
          padding-left: 23px;
        }
      }

      &-index {
        float: left;
        width: 35px;
      }

      &-name {
        float: left;
        width: 55px;
        &--expanded {
          width: 255px;
          @include sds-ellipsis;
          white-space: pre;
        }
      }

      &-snapshot {
        float: left;
        width: 100px;
        margin-right: 10px;
        @include sds-ellipsis;
        white-space: pre;

        &--expanded {
          float: right;
          width: 90px;
        }

        &-name {
          margin-left: 5px;
        }
      }
    }

    &__cell {
      &--expanded {
        width: 200px;
        justify-content: flex-start;
      }

      &-header {
        height: 30px;
        line-height: 30px;
        background-color: $fifty-percent-gray;
        color: $default-white;

        &--filler {
          flex: 1;
        }
      }

      &-subheader {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-weight: 600;
        color: $gray;

        &--error {
          color: $dark-red;
        }

        &-details {
          &-left {
            float: left;
            margin-left: 15px;
          }

          &-right {
            float: right;
            margin-right: 15px;
          }
        }

        &--filler {
          flex: 1;
        }
      }

      &-item {
        display: flex;
        justify-content: center;

        &--filler {
          flex: 1;
        }

        &--mismatch {
          background-color: $light-sunny;
        }
      }
    }
  }

  .sds-icon {
    &.check-mark {
      color: $light-green;
      font-size: 14px;
    }
    &.mismatch {
      color: $sunny;
      font-size: 14px;
    }
    &.error-warning {
      color: $dark-red;
      font-size: 16px;
    }
    &.expand-horizontal {
      font-size: 8px;
      vertical-align: middle;
    }
    &.collapse-horizontal {
      font-size: 14px;
      vertical-align: middle;
    }
    &.application {
      font-size: 24px;
      color: $very-soft-blue;
    }
    &.snapshot {
      font-size: 18px;
      color: $dark-blue;
    }
    &.mismatch-box,
    &.error-box {
      color: $gray;
    }
  }

  &__apps-expand-collapse {
    float: right;
    margin-right: 10px;
  }

  &__stage-expand-collapse {
    flex-grow: 0;
    flex-shrink: 0;
    width: 28px;
  }

  &__stage-name-header {
    flex: 1;
    margin-left: 10px;
    @include sds-ellipsis;
    white-space: pre;
  }

  &__inventory-item {
    &-details {
      float: left;
      width: 154px;
      overflow: hidden;
      @include sds-ellipsis;
      white-space: pre;

      &-snapshot {
        margin-left: 10px;
        color: $default-black;
      }
    }

    &-tip {
      float: right;
    }
  }

  &__app-names-name-value {
    color: $default-black;
    &:hover {
      color: $default-black;
    }
    display: none;
    &--expanded {
      display: inline;
    }
  }
}
