//================================================
//  App mappings
//================================================

// ??
// Artifact Versioning PopOver Menu
.sds-popover.artifact-version-popover {
  &.snapshot-select-popover {
    li {
      > a {
        min-width: 100px;
        padding: 0 20px;
      }
    }
  }
  input {
    background-color: $input-bg;
    border: 1px solid $art-version-popover-input-border-color;
    box-shadow: none;
    padding: 5px;
  }

  .version-input {
    box-sizing: border-box;
    display: block;
    height: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90px;
  }

  .version-input {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
  }

  ul {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  li {
    > a {
      min-width: 80px;
      padding: 0 5px;
    }
  }

}

.modals-box .ec-react-wizard-mapping .ec-react-wizard__content {
  padding: 0;
}

.ec-react-wizard-mapping {

  .ec-react-wizard__header-delete-mapping {
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;

    .sds-svg-icon--button-delete {
      fill: $default-red;
      padding-bottom: 4px;
    }

    &.disabled {
      cursor: default;
      color: $soft-gray;

      .sds-svg-icon--button-delete {
        cursor: default;
        fill: $soft-gray;
      }
    }
  }

  &__header {
    font-size: 24px;
    margin: 0 30px;
    width: 100%;

    .sds-svg-icon--icon-application {
      margin: 0 5px 0 0;
      padding-bottom: 2px;
    }

    .sds-icon.environment,
    .sds-icon.template {
      color: $orange;
      font-size: 22px;
      margin: 0 5px;
    }

  }

  &__header-text {
    vertical-align: top;
    display: inline-block;
    max-width: 500px;
    @include sds-ellipsis();
    white-space: pre;
  }

  &__header-text--static {
    width: auto;
    max-width: 50px;
    margin: 0 10px;
  }

  &__row {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    line-height: 38px;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 3px;
  }

  &__row--go-to-visualization {
    cursor: pointer;
    margin: 0;
    position: relative;
    flex: 0 0 540px;
    &.disabled {
      @include disabled();
      &:hover {
        background-color: $ten-percent-gray;
        border-color: $ten-percent-gray;
      }
    }
  }

  &__row--visualization-wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto 30px;
    width: 560px;
    .ec-react-help__wrapper {
      flex: 0 0 20px;
      margin: 0;
    }
  }

  &__row--alert {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
  }

  &__row--header {
    line-height: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    margin-bottom: 0;
  }

  &__objects-list {
    width: 1000px;
    margin: 0 auto;
  }

  &__mapping-list {
    height: 354px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__row--map-item {
    display: flex;
    border: 2px solid $ten-percent-gray;
    background-color: $ten-percent-gray;

    &:hover {
      border: 2px solid $simple-light-gray;
      background-color: $simple-light-gray;
    }

    &.matched,
    &.matched:hover {
      border-color: $very-light-gray;
      background-color: $white;
    }

    .sds-svg-icon--icon-application-tier {
      fill: $ninety-percent-blue;
    }
    .sds-svg-icon--icon-service {
      fill: $very-soft-blue;
    }
  }

  &__row--map-item-active {
    display: flex;
    color: $white;
    border: 2px solid $active-blue;
    background-color: $active-blue;

    .sds-svg-icon--icon-application-tier,
    .sds-svg-icon--icon-service,
    .sds-svg-icon--button-object-menu {
      fill: $white;
    }
  }

  &__row--map-item-is-mapped {
    position: relative;
    display: flex;
    border: 2px solid $limegreen;
    .sds-svg-icon--icon-cluster {
      fill: $middle-purple;
    }
    .sds-svg-icon--icon-application-tier {
      fill: $ninety-percent-blue;
    }
    .sds-svg-icon--icon-service {
      fill: $very-soft-blue;
    }
  }

  &__col--alert {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    color: $white;
    text-align: center;
    border-bottom: 2px solid $white;
    box-sizing: border-box;
    background: $medium-dark-blue;
  }

  &__alert-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    &:before {
      content: '';
      height: 19px;
      width: 24px;
      background-image: url('../img/attention.png');
      display: inline-block;
      margin: 0 5px -3px 0;
    }
  }

  &__alert-text {
    font-size: 14px;
    line-height: 17px;
  }


  &__col--go-to-visualization {
    box-sizing: border-box;
    flex: 1;
    text-align: center;
  }

  &__col--map-application-tier,
  &__col--map-environment-tier {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 1 0 50%;
    overflow: hidden;
  }

  &__col-text {
    flex: auto;
    text-align: left;
    min-width: 0;
    line-height: 1;
    @include sds-ellipsis;
    white-space: pre;
    &.left {
      padding-right: 30px;
    }
    &.right {
      padding-right: 70px;
    }
  }

  &__col-icon {
    margin-left: 8px;
    line-height: 0;
    flex: 0 0 30px;
  }

  &__col-icon--right {
    margin-left: 30px;
  }

  &__col--map-application-tier {
    position: relative;
    line-height: 36px;
  }

  &__col--map-environment-tier {
    position: relative;
    line-height: 36px;

    .sds-icon {
      cursor: pointer;
    }
  }

  &__col--no-mapped-app {
    &:after {
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      content: "";
      width: 1px;
      height: 26px;
      background-color: $white;
      position: absolute;
    }
    &.matched:after {
      background-color: $very-light-gray;
    }
  }

  &__col--no-mapped-env {
    justify-content: center;
    &:before {
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      content: "";
      width: 1px;
      height: 26px;
      background-color: $white;
      position: absolute;
    }
    &.matched:before {
      background-color: $very-light-gray;
    }
  }

  &__col--map-icon-mapping-confirmed {
    width: 0;
    display: flex;
    height: 100%;
    align-items: center;
    .sds-svg-icon--icon-mapping-confirmed {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      fill: $limegreen;
    }
  }

  &__col--map-icon-on-right,
  &__col--map-icon-configuration {
    position: absolute;
    right: 10px;
    top: 0;
    height: 36px;
    width: 30px;
    line-height: 36px;

    .sds-icon {
      cursor: pointer;
    }
  }

  &__col--map-icon-configuration {
    right: 40px;
  }
}

.ec-react-wizard-service-mapping-configuration {
  font-size: 16px;

  .react-form__label {
    font-size: 16px;
  }

  .ec-react-wizard-mapping__header-text {
    vertical-align: middle;
  }

  .main-expand {
    position: absolute;
    right: 0;
  }

  .mapping-configuration-tabs {
    padding: 3px 0;
    margin-bottom: 20px;
  }

  .mapping-configuration-form {
    height: 360px;
    position: relative;
    overflow: auto;
  }

  .separator {
    @include separator();
  }

  .map-configuration-container-empty {
    font-size: 24px;
  }

  .map-configuration-container-list {
    padding: 0 20px 0 30px;
    overflow-y: scroll;
    height: 360px;
  }

  .map-configuration-container-item {
    padding: 0 20px;
    background: $very-soft-gray;
    margin-bottom: 20px;
  }

  .map-configuration-container-item-header {
    height: 60px;
    display: flex;
    line-height: 60px;
    font-size: 16px;
  }

  .map-configuration-container-item-index {
    width: 30px;
    text-align: right;
  }

  .map-configuration-container-item-name {
    font-size: 18px;
  }

  .map-configuration-container-item-rollover {
    width: 30px;
  }

  .map-configuration-container-item-name {
    flex: 1;
    text-align: left;
  }

  .map-configuration-container-item-errors {
    width: 100px;
  }

  .map-configuration-container-item-error-tile {
    position: static;
  }

  .map-configuration-form {
    padding: 0 30px;
    font-size: 18px;
    border-top: 2px solid $separatorBG;

    .map-configuration-form-title {
      line-height: 40px;
    }

    .map-configuration-form-head {
      display: flex;
      font-size: 14px;
      height: 40px;
      align-items: center;
      border-top: 2px solid $separatorBG;
      text-align: left;
      line-height: 14px;
    }

    .map-configuration-form-item {
      display: flex;
      line-height: 60px;
      border-top: 2px solid $separatorBG;
      text-align: left;
    }

    .map-configuration-form-col {
      text-align: left;

      &.width-15 {
        flex: 15;
      }

      &.width-30 {
        flex: 30;
      }

      &.width-35 {
        flex: 35;
      }

      &.width-50 {
        flex: 50;
      }

      .subcol-index {
        width: 25px;
        display: inline-block;
        padding-right: 5px;
        text-align: right;
      }
    }

    .service-ports-row {
      border-top: 2px solid $black;

      .react-form__txt-input-holder {
        .react-form__txt-input {
          width: 90px;
        }
      }
    }

    .react-form__txt-input-wrapper {
      margin: 0;
    }

    .react-form__txt-input-holder {
      width: auto;
    }

    .react-form__textarea-wrapper {
      margin: 10px 0;
    }

    .react-form__textarea-holder {
      width: auto;
      height: 132px;
    }

    .react-form__txt-input,
    .react-form__textarea {
      vertical-align: baseline;
    }

    .details-input {
      .react-form__txt-input,
      .react-form__textarea {
        width: 489px;
      }
    }

    .environment-input {
      .react-form__txt-input,
      .react-form__textarea {
        width: 339px;
      }
    }
  }

  .config-block-header {
    font-size: 18px;
    position: relative;
    height: 40px;
    line-height: 40px;

    .toggle-row {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .service-form {
    border-top: 2px solid $separatorBG;
    padding-bottom: 1px;

    .react-form__txt-input-wrapper,
    .react-form__textarea-wrapper {
      display: flex;
      justify-content: center;
      margin-left: -50px;
    }

    .react-form__checkbox-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      margin-left: -296px;

      .react-form__checkbox {
        margin-left: 16px;
        margin-top: 2px;
      }
    }

    .has-error {
      .react-form__txt-input {
        border-color: $errorRed;
      }

      //TODO: move to validation scss file

      .react-form__validation {
        width: 100%;
        max-width: 330px;
        margin: 0;
        text-align: left;
        font-size: 14px;
        display: block;
      }
    }
  }
}
