//================================================
//  Home
//================================================

.index-select {
  width: 540px;
  margin: 0 auto;
  padding-top: 30px;

  .select {
    height: 156px;
    display: block;
    cursor: pointer;
    background: url('../img/splashimage-6_0.jpg') scroll no-repeat 0 0 transparent;

    &:hover {
      opacity: .8;
    }

    &.applications {
      background-position: 0 0;
    }

    &.environments {
      background-position: 0 -156px;
    }

    &.pipelines {
      background-position: 0 -312px;
    }

  }
}
.home-screen {
  background: url('../img/login-page-background.png');
  height: 100%;
}
.home-menu {
  padding: 20px 0 0;
  &--fixed-width {
    width: 470px;
    margin: 0 auto;
  }
  .ec-row {
    &__item {
      color: $default-black;
      display: block;
      height: 98px;
      line-height: 98px;
      border-bottom: 2px solid $default-white;
      margin: 0 auto;
      text-align: center;
      position: relative;

      &:last-child {
        border-bottom: 0;
      }

      &--hovered {
        &:hover {
          text-decoration: none;
          color: $default-black;
          background: rgba(255,255,255,.7);
        }
      }
    }
  }

  .ec-col {
    &__item-left {
      width: 98px;
      margin-right: 8px;
    }
    &__item-right {
      text-align: left;
      width: 360px;
    }
    &__item-left,
    &__item-right {
      line-height: 26px;
      display: inline-block;
      vertical-align: middle;
    }
    &__item-title {
      font-size: 24px;
      font-weight: 700;
    }
    &__item-icon {
      width: 98px;
      .releases {
        font-size: 26px;
      }
      .application {
        font-size: 54px;
      }
      .process {
        font-size: 54px;
      }
      .pipeline {
        font-size: 30px;
      }
      .environment {
        font-size: 44px;
      }
    }
    &__item-description-list {
      padding-left: 17px;
      margin: 0;
    }
    &__item-description-list-item {
      padding-left: 17px;
      font-size: 18px;
    }
    &__item-arrow {
      display: inline-block;
      margin-left: 40px;
      font-size: 40px;
      vertical-align: middle;
      margin-top: -4px;
    }
  }
}
