//================================================
//  Artifact-versioning-modal
//================================================

.artifact-versioning-modal {
  width: 1326px;
  margin-left: -400px;
  height: 600px;
  box-sizing: border-box;

  .artifact-version-popover.loading {
    &:before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $runMenuBackground url(../img/loader.gif) center no-repeat;
      content: '';
      display: block;
      z-index: 10;
    }
    .popover-arrow {
      border-bottom-color: $runMenuBackground;
    }
  }

  .modal-header {
    @include clearfix();
    border-bottom: 3px solid $envResDefaultColor;
    padding: 2px 0;
    font-size: 18px;

    .total {
      float: left;
    }

    .modal-navigation-header {
      float: left;
      width: 580px;

      .sds-icon {
        font-size: 20px;
      }
    }

    .artifact-select-label {
      float: left;
      width: 220px;
      text-align: center;
      line-height: 38px;
    }

  }

  .sds-modal-body {
    height: 516px;
  }

  .sds-modal-footer {
    background: $envResModalFooterBg;
  }

  .empty-table {
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .list-row {
    height: 37px;
    line-height: 37px;
    @include clearfix();
    position: relative;
    overflow: hidden;
  }

  .at-artifact-versions-grid-item {
    position: relative;
  }

  .list-head-row {
    margin: 0 20px;
    font-size: 16px;
    border-bottom: 2px solid $envResBorderColor;
    .sds-icon {
      cursor: pointer;
    }
    .cell--selected .sds-icon.active {
      color: $envResSelectedCheckColor;
    }
    .cell--toggle .sds-icon {
      font-size: 26px;
    }
  }

  .list {
    height: 431px;
    margin: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;

    .list-row {
      cursor: pointer;
      display: none;
      border-bottom: 2px solid $envResBorderColor;

      &.visible {
        display: block;
      }
    }

    .selected-row {
      background: $envResSelectedRowBg;
      color: $envResSelectedRowText;
      .cell--selected {
        color: $envResSelectedCheckColor;
        &:hover {
          color: $envResSelectedRowText;
        }
      }
    }

    .list-row:not(.disabled-row):hover {
      &:not(.selected-row) {
        background: $envResRowHoverColor;
      }
    }

    .disabled-row {
      color: $envResDisabledRowText;
      cursor: auto;
    }

  }

  .cell {
    float: left;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    min-height: 100%;

    &--selected {
     width: 58px;
     color: $envResCheckSelectedDefaultColor;
     padding-left: 9px;
    }

    &--name {
      width: 450px;
      padding-right: 15px;
      text-overflow: ellipsis;
      .offset {
        display: inline-block;
        vertical-align: top;
      }
    }

    &--artifacts {
      width: 440px;
      text-overflow: ellipsis;
    }

    &--versions {
      width: 300px;
      text-align: right;
      .dropdown {
        float: right;
      }
      .tier-artifact-version {
        @include sds-ellipsis;
      }
      .sds-icon {
        margin-left: 10px;
        line-height: 40px;
      }
    }

    &--toggle {
      width: 20px;
      .sds-icon {
        cursor: pointer;
      }
    }
  }

  .list-row__comp .cell--name {
    padding-left: 20px;
  }

  .list .cell {
    &--toggle {
      .sds-icon {
        font-size: 26px;
      }
    }
    &--versions {
      .sds-icon {
        font-size: 10px;
      }
    }
  }
}
