//================================================
//  Login
//================================================

.login-form-container {
  @include clearfix();
}

.login-form {
  float: right;
  margin: 0;
  position: relative;

  .sds-input {
    width: 240px;
    display: inline-block;
    box-sizing: border-box;
    height: 54px;
    border: 0;
    border-left: 2px solid $medium-soft-gray;
    background: $white;
    text-align: left;
    padding: 0 15px;

    &:focus {
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left-width: 2px;
    }
  }

  .sds-btn {
    width: auto;
    min-width: 88px;
    padding: 0 15px;
    height: 54px;
    line-height: 54px;
    box-shadow: 0 0 2px 0 $gray;
    &:not(.disabled) {
      box-shadow: 0 0 2px 0 $medium-dark-blue;
    }
  }

  .fake-input {
    position: absolute;
    top: -1000px;
    left: -1000px;
  }
}


.login-content-container {
  background: url('../img/login-page-background.png');
  background-size: cover;
  position: relative;
  .copy {
    position: absolute;
    bottom: 15px;
    left: 30px;
    font-size: 15px;
  }
  .copy__link {
    color: $black;
    font-weight: bold;
  }
}
