//================================================
//  Resources modal
//================================================

.modal-environment-resources {
  width: 760px;
  margin-left: -380px;
  height: 600px;
  box-sizing: border-box;

  .modal-header {
    @include clearfix();
    border-bottom: 3px solid $default-black;
    padding: 12px 20px 10px;
    font-size: 18px;

    .total {
      float: left;
      width: 275px;
    }

    .selected {
      float: left;
    }

    .search-container {
      float: right;
    }

  }

  .sds-modal-body {
    height: 540px;
  }

  .sds-modal-footer {
    background: $very-soft-gray;
  }

  .search-container {
    position: relative;
    width: 237px;
    margin-top: -3px;

    .search-field {
      float: left;
      width: 200px;
      height: 24px;
      box-sizing: border-box;
      padding: 4px 28px 6px 5px;
      text-align: right;
      font-size: 12px;
      line-height: 10px;
      border: none;
    }

    .clear-icon {
      position: absolute;
      left: 180px;
      top: 3px;
      font-size: 12px;
      color: $forty-percent-gray;
      cursor: pointer;
      display: none;
      &:hover {
        color: $default-black;
      }
    }

    .search-icon {
      float: left;
      width: 30px;
      font-size: 28px;
      padding: 5px 0 0 7px;
    }
  }
}


.ec-wizard--dynamic-resources {
  background-color: $default-white;

  .ec-row--res-tpml-select-split-actions {
    font-size: 18px;
  }

  .ec-grid-primary--with-underline {
    padding: 0;
  }

  .ec-row {
    &--res-tpml-select-split-actions {
      display: flex;
      margin-top: 20px;
      .ec-col {
        &--projects-select {
          position: relative;
          width: 355px;
          height: 60px;
        }
        &--search {
          margin-left: 370px;
          position: static;
          text-align: right;
          .search-collapsable__search-input.sds-input {
            height: 40px;
            font-size: 18px;
            width: 100%;
            padding: 4px 23px;
          }
          .sds-icon {
            line-height: 40px;
          }
        }
      }
    }
  }
  .ec-react-wizard__attention-container {
    .ec-react-wizard__footer {
      display: flex;
      justify-content: flex-end;
      .ec-wizard-btn {
        width: 210px;
        &:first-child {
          border-left: 2px solid $default-white;
        }
      }
    }
  }
}

.dynamic-resources-header {
  position: relative;

  &__title {
    text-align: center;
    white-space: nowrap;
  }

  .search-container {
    width: 237px;
    position: absolute;
    top: 10px;
    right: 10px;

    .search-field {
      float: left;
      width: 200px;
      height: 24px;
      box-sizing: border-box;
      padding: 4px 28px 6px 5px;
      text-align: right;
      font-size: 12px;
      line-height: 10px;
      border: none;
    }

    .clear-icon {
      width: 12px;
      position: absolute;
      left: 180px;
      top: 3px;
      font-size: 12px;
      color: $forty-percent-gray;
      cursor: pointer;
      display: none;
      &:hover {
        color: $default-black;
      }
    }

    .search-icon {
      float: left;
      width: 30px;
      font-size: 28px;
      padding: 5px 0 0 7px;
      position: relative;
      left: auto;
      top: auto;
    }
  }
}

.ec-wizard--selected-dynamic-resource {
  background-color: $default-white;

  .breadcrumb {
    .sds-icon.cloud-provider {
      position: relative;
      top: -1px;
      font-size: 12px;
    }
  }

  .sds-number {
    &__wrapper {
      width: 155px;
      margin: 0 auto;
      @include clearfix();
    }
  }
  .resources-number {
    text-align: center;
    padding-top: 27px;

    &__label {
      font-size: 18px;
      margin-bottom: 20px;
    }

    &__input.sds-input {
      font: $base-font-family;
      font-size: 18px;

      width: 268px;
      height: 38px;
      padding: 0 6px;
      margin: 0 0 48px;

      border: 1px solid $input-border;
      border-radius: 0;

      color: $input-text-color;
      text-align: left;

      background-color: $input-bg;

      &:focus {
        border: 1px solid $simple-middle-blue;
      }

      @include placeholder {
        color: $forty-percent-gray;
        text-align: left;
      }
    }
  }
}
.ec-wizard--static-resource {
  background: $default-white;
  .ec-react-wizard__head {
    font-size: 18px;
    font-weight: 200;
  }
  .ec-react-wizard__content {
    padding: 0;
  }
  .search-collapsable {
    margin-right: 10px;
    .search-collapsable__search-input {
      padding-left: 23px;
    }
  }

  .ec-react-wizard__footer {
    min-height: 60px;
    height: 60px;
    background-color: $very-soft-gray;
    .ec-wizard-btn {
      font-size: 18px;
      font-weight: 200;
      line-height: 60px;
      height: 60px;
      width: 200px;
      float: right;
    }
  }

  .ec-grid-primary .ec-grid-primary__row.selected .sds-svg-icon--icon-checkmarked {
    fill: $default-white !important;
  }

  .sort-icon.active {
    fill: $default-red;
  }
  .select-all-resources.active {
    .sds-svg-icon {
      fill: $light-green;
    }
  }
}

.ec-wizard--env-resource-pools {

  .ec-wizard-title {
    font-size: 18px;
  }

  .search-collapsable {
    margin-right: 10px;
    .search-collapsable__search-input {
      padding-left: 23px;
    }
  }

  .ec-grid-primary .ec-grid-primary__row.selected .sds-svg-icon--icon-checkmarked {
    fill: $default-white !important;
  }

  .ec-wizard-subtitle {
    position: absolute;
    left: 20px;
    font-size: 18px;
  }
  .sds-icon.arrow-back +
  .ec-wizard-title +
  .ec-wizard-subtitle {
    left: 35px;
  }

  .ec-wizard-foot {
    background-color: $very-soft-gray;
    height: 60px;
    min-height: 60px;

    .ec-wizard-button {
      font-size: 18px;
      font-weight: 200;
      line-height: 60px;
      height: 60px;
      width: 200px;
    }
  }
}
