//================================================
//  GWT Form of Plugins
//================================================

.component-plugin-container {
  height: 402px;
  position: relative;

  .component-plugin-display-wrapper {
    height: 337px;
    width: 100%;
    position: relative;
    overflow: auto;
  }

  .gwt-Anchor img {
    top: 0 !important;
  }
}

//  Styles for GWT Form of Plugins
.gwt-TextBox,
.gwt-SuggestBox,
.gwt-PasswordTextBox,
.form-value input,
.form-value textarea,
input.gwt-SuggestBox {
  padding: 2px !important;
  font-size: 100% !important;
  font-family: Tahoma, Arial, Helvetica, sans-serif !important;
  border-radius: 0 !important;
}

.gwt-TextBox,
.gwt-SuggestBox,
.gwt-PasswordTextBox {
  margin-bottom: 0 !important;
  background: $default-white !important;
}

.form-value textarea {
  vertical-align: middle !important;
}

.formBuilder-textAreaLabel {
  padding-top: 11px !important;
}

.form-value {
  padding-right: 4px !important;
  vertical-align: top !important;
}
.formBuilder-label,
.formBuilder-required {
  width: 0 !important;
  padding-top: 0 !important;
  vertical-align: top !important;
  .gwt-Label {
    white-space: normal !important;
  }
}
.form-value input,
.form-value textarea,
input.gwt-SuggestBox {
  border: 1px solid $haze-blue !important;
  margin-top: 8px !important;
}

.form-value select {
  margin-top: 8px !important;
  height: auto !important;
  font-size: 100% !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  border: 1px solid $haze-blue !important;
}

.gwt-PopupPanelGlass {
  z-index: 100501;
  background-color: $default-black;
  opacity: 0.3;
}
.gwt-DialogBox {
  z-index: 100502;
  background: $default-white;
  padding: 20px;
}

.gwt-SuggestBoxPopup {
  z-index: 100503;
}

table.formBuilder tr td.form-value input.gwt-TextBox {
  width: 250px;
}

table.formBuilder tr td.form-value select.gwt-ListBox {
  width: 256px;
}

table.formBuilder tr td.form-value textarea.gwt-TextArea {
  width: 250px;
  resize: none;
}

.form-value input.gwt-TextBox {
  width: 100%;
}

.gwt-TextBox,
input.gwt-SuggestBox,
.gwt-PasswordTextBox {
  width: 200px;
  height: 14px !important;
  line-height: normal !important;
  margin-top: 8px !important;
}

.formTable-label,
.formTable-textValue {
  padding-top: 0 !important;
}

table.formBuilder .gwt-Label {
  max-width: 220px;
  padding-right: 4px !important;
  font-size: 13px;
  padding-top: 8px;
}

table.formBuilder .gwt-Label.formBuilder-requiredLabel {
  padding-left: 0;
  font-size: 10px !important;
}

table.formBuilder td a {
  cursor: pointer;
}

.gwt-ListBox {
  margin-top: 8px;
  font-size: 11px;
  width: auto;
  height: auto;
  margin-bottom: 0;
  border-radius: 0;
}

.gwt-RadioButton {
  display: block;
  margin-top: 8px;
  padding: 0;
  font-size: 13px;
  white-space: nowrap;
}

.gwt-RadioButton input {
  margin-top: 0 !important;
  margin-bottom: 3px;
}

.gwt-RadioButton label {
  bottom: 2px;
  position: relative;
  font-size: 11px;
  display: inline;
  margin-left: 3px;
}

.gwt-CheckBox input {
  margin-top: 0;
}

.gwt-CheckBox label {
  font-size: 11px;
  display: inline;
  margin-left: 3px;
}

.formBuilder {
  margin-left: 10px;
}

.GGNCQOFL {
  margin-right: 30px !important;
  top: 0 !important;
}
