//================================================
//  Environments
//================================================

.environments,
.environments-tmpl {

  .environments-content {
    position: relative;
    width: 100%;
    overflow: auto;

    .col-enabled {
      padding-top: 13px;
    }
    .at-table-radio {
      cursor: pointer;
    }

    .col-snapshot-btn,
    .col-toggler {
      float: right;
    }

    .environments-list {
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      left: 20px;
      overflow: hidden;

      /**
       * The main environments table.
       */
      .env-table {
        .slick-header {
          display: none;
          height: 0;
        }
        .empty-table {
          cursor: pointer;
        }

        .slick-cell {
          &.col-name {
            padding-left: 12px;
            padding-right: 6px;

            .name-field {
              background-color: transparent;
              display: inline-block;
              padding: 0 5px;
              transition: 0.25s background-color;
            }
          }

          &.col-enabled {
            cursor: pointer;
            padding-top: 14px;
            padding-bottom: 2px;
          }

          &.col-details {
            padding: 13px 8px 6px;

            .sds-icon.view-details {
              @include sds-icon-size(22px);
            }
          }
        }
      }
    }

    .sds-tier-env {
      position: relative;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.environments-tmpl-grid {
  .sds-icon {
    position: relative;
    bottom: 2px;

    &.template {
      bottom: 1px;
    }
  }

  .ec-react-help__icon {
    bottom: auto;
    top: 1px;
  }
}

.create-env,
.add-resource-start,
.create-env-from-scratch,
.create-env-from-application {
  width: 626px;
  height: 527px;
  font-size: 18px;
  background-color: $default-white;
}

.create-env,
.add-resource-start {

  .ec-wizard-body {
    .heading {
      width: 536px;
      @include modal-header-text();
    }

    .create-btn {
      position: relative;
      margin: 0 30px 8px;
      cursor: pointer;
      text-align: center;
      line-height: 80px;
      background-color: $very-soft-gray;

      &:hover {
        background-color: $soft-gray;
      }

      .sds-icon {
        @include sds-icon-size(26px, 70px, 26px);
        display: block;
        position: absolute;
        line-height: 80px;

        &.row-icon,
        &.template {
          color: $orange;
        }

        &.res-template {
          color: $soft-blue;
        }

        &.add-component {
          color: $env-col-tier-icon-color;
        }

        &.application {
          color: $very-soft-blue;
        }
      }
    }
  }
}

.create-env-from-scratch {

  &.create-env-provisioning {
    width: 850px;
    height: 620px;
  }

  .ec-wizard-body {
    .heading {
      @include modal-header-text();
    }
  }

  .ec-wizard-foot {
    min-height: 60px;
    height: 60px;

    .ec-wizard-button {
      width: 50%;
      height: 60px;
      font-size: 18px;
      line-height: 60px;
    }
  }
}

.create-env-from-application {

  .ec-wizard-body {
    .heading {
      margin: 0 auto;
      @include modal-header-text();
    }

    .empty {
      text-align: center;
    }

    .modal-items-container {
      max-height: 370px;
      width: 506px;
      margin: 0 auto;
      overflow: hidden;
      overflow-y: auto;
    }
  }
}

.delete-env,
.delete-tier,
.remove-tier-resources {
  .sds-modal-body {
    padding-bottom: 36px;
  }

  .warning,
  .message,
  .confirmation {
    color: $default-black;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    letter-spacing: $base-letter-spacing;
    text-align: center;
    padding: 0;
    margin: 0 10px $base-font-size;
  }

  .warning {
    font-weight: bold;
    line-height: 19px;

    .alert-icon {
      background-image: url('../img/attention.png');
      display: inline-block;
      margin-right: 1px;
      margin-bottom: -3px;
      width: 24px;
      height: 19px;
    }
  }
}

.remove-tier-resources {
  top: 20%;

  .message {
    margin-bottom: 0;
  }
}

.env-tier-resources-backdrop {
  @include fixed-stretch(1000);
  margin: 0;
  width: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  text-align: center;
}

.modal-env-tier-resources {
  width: 800px;
  left: 50%;
  margin-left: -400px;
  &.modal-env-tier-resources-edit {
    width: 850px;
    margin-left: -425px;
    padding-bottom: 0;
  }
}

.env-tier-resources {
  position: relative;
  $vbar-width: 50px;

  .vbar {
    background-color: $medium-dark-gray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -$vbar-width;
    width: $vbar-width;

    .sds-icon.remove {
      position: absolute;
      top: 18px;
      left: ($vbar-width / 2) - 10px;
      color: $default-white;
      @include sds-icon-size(18px, 20px);
    }
  }

  // Main modal content region

  .content {

    .header {
      height: 48px;
      border-bottom: 4px solid $default-black;

      .title,
      .selected,
      .remove-button,
      .search-container {
        display: inline-block;
      }

      .title,
      .selected {
        color: $default-black;
        font-family: $base-font-family;
        font-size: 18px;
        font-weight: $base-font-weight;
        letter-spacing: $base-letter-spacing;
        line-height: 48px;

        .count {
          font-size: 24px;
        }
      }

      .title {
        margin-left: 28px;
      }

      .selected {
        margin-left: 40px;
      }

      .remove-button,
      .search-container {
        float: right;
        margin-top: 14px;
        margin-right: 14px;
        height: 20px;
      }

      .remove-button {
        color: $default-black;
        line-height: 20px;
        margin-left: 41%;
        padding-left: 5px;
        cursor: pointer;

        .sds-icon.remove {
          color: $default-red;
          margin-top: 2px;
          margin-left: 5px;
          @include sds-icon-size(18px);
        }

        &.disabled {
          cursor: default;
          color: $soft-gray;

          .sds-icon.remove {
            cursor: default;
            color: $soft-gray;
          }
        }
      }

      .search-container {
        .sds-icon.search {
          @include sds-icon-size(20px);
        }
      }
    }

    .body {
      height: 470px;

      // Select All/None region

      .select {
        background-color: $default-white;
        position: absolute;
        top: 7px;
        right: 10px;
        height: 32px;
        width: 160px;
        text-align: right;

        .text-label,
        .toggle {
          display: inline-block;
          font-family: $base-font-family;
          font-size: $base-font-size;
          font-weight: $base-font-weight;
          letter-spacing: $base-letter-spacing;
          line-height: 32px;
        }

        .text-label {
          color: $default-black;
          margin-right: 8px;
        }

        .toggle {
          color: $default-white;
          cursor: pointer;
          background-color: $soft-dark-gray;
          border: 1px solid $soft-dark-gray;
          padding-left: 5px;
          padding-right: 5px;
          text-align: center;
          height: 30px;

          // "All" button

          &:hover {
            background-color: $dim-dark-gray;
            border: 1px solid $dim-dark-gray;
            color: $default-white;
          }

          &:active {
            background-color: $default-text-color;
            border: 1px solid $default-text-color;
            color: $default-white;
          }

          // "None" button

          &.active {
            background-color: $default-white;
            border: 1px solid $default-black;
            color: $default-black;

            &:hover {
              background-color: $gainsboro-white;
            }

            &:active {
              background-color: $silver-gray;
            }
          }
        }
      }

      // Main table of resources

      .resources-table {
        .col-header-name {
          margin-left: -60px;
          margin-right: 60px;
        }

        .col-name {
          padding-left: 24px;
        }

        .col-status {
          .sds-icon {
            cursor: auto;

            &.arrow-down {
              color: $alizarin-red;
            }
          }
        }

        .col-details {
          text-align: right;
          padding-right: 10px;

          .sds-icon.view-details {
            @include sds-icon-size(19px);
            cursor: pointer;
          }
        }

        .empty-table {
          top: 50px;
        }
      }
    }

  }

}

.ec-grid .ec-row.env-resource-row {
  border-bottom: 2px solid $seventy-percent-gray;
  background: $default-white;
  margin: 0;

  &.disabled {
    background: $very-soft-gray;
  }
  .col-index {
    background: transparent;
    color: $default-black;
  }
  .col-name {
    width: 163px;
  }
  .col-platform {
    width: 163px;
  }
  .col-usage {
    width: 163px;
  }
  .col-details {
    padding-top: 14px;
  }
  .sds-icon.view-details {
    font-size: 19px;
    height: 19px;
    width: 33px;
    line-height: 19px;
    color: $default-black;
  }
  .col-status {
    width: 122px;
  }
  &.env-resource-head-row {
    background: $default-white;
    &:hover {
      background: $default-white;
    }
  }
  &.selected {
    .col-index {
      color: $default-white;
    }
    .sds-icon.view-details {
      color: $default-white;
    }
  }
}

.env-tier-resources.edit-mode .ec-grid {
  .col-name {
    width: 245px;
  }
  .col-platform {
    width: 245px;
  }
  .col-status {
    width: 175px;
  }
  .col-usage {
    display: none;
  }
}

.app-inventory-rows-container {
  .ec-grid {
    margin: 0;
  }
}

.inventory-item-row {
  .tooltip.top .tooltip-arrow {
    border-top-width: 6px;
  }

  .value {
    width: 100%;
    margin-left: -22px;
    .value-txt {
      padding-left: 25px;
      float: none;
    }
  }

  .at-errors-container {
    width: 115px;
    height: 20px;
    @include sds-ellipsis;

    .attention {
      color: $errorRed;
      font-size: 22px;
      margin-left: 4px;
      position: absolute;
    }
  }

  .at-artifact-container,
  .at-artifact-version-container {
    overflow: visible;

    .tooltip {
      white-space: normal;
    }

    span {
      display: block;
      float: left;
      overflow: hidden;
    }
  }

  &.ec-row {
    .ec-col.at-artifact-container,
    .ec-col.at-artifact-version-container {
      overflow: visible;

      .hidden {
        display: inline;
        position: absolute;
        z-index: -100;
        top: -100%;
      }
    }
  }
}

.at-app-row-item {
  .at-errors-container {
    width: 90px;
    height: 20px;
    @include sds-ellipsis;

    .attention {
      color: $errorRed;
      font-size: 22px;
      margin-left: 4px;
      position: absolute;
    }
  }
}

.env-row+.env-tiers,
.env-tier-row+.env-tiers-resources {
  display: none;
  min-height: 50px;
  position: relative;

  .ec-grid {
    margin: 0;
  }
}

.env-tier-row+.env-tiers-resources {
  .col-offset {
    width: 60px;
  }
}

.ec-grid {
  .env-tier-row {
    .ec-col {
      &--tier-name {
        padding-left: 18px;
        flex: 32;

        .sds-icon.resource-pool {
          color: $ninety-percent-blue;
          margin: 0 4px;
        }
      }
      &--resource-name {
        flex: 71;

        .resources-count {
          font-weight: bold;
          max-width: 33px;
        }
        .sds-icon.resource {
          color: $glacier-blue;
          margin: 0 4px;
        }
      }
    }
  }

  .env-resources-row {
    .ec-col {
      &--resource-name {
        padding-left: 18px;
        flex: 20;
      }
      &--cm {
        flex: 13;
      }
      &--provider {
        flex: 13;
      }
      &--date {
        flex: 16;
      }
      &--by {
        flex: 18;
      }
      &--live {
        flex: 20;
        color: $san-morino-blue;
      }
      .sds-icon.provider-chef {
        font-size: 24px;
        color: rgba(0,0,0,.6);
      }
      .sds-icon.provider-openstack {
        font-size: 22px;
        color: $fire-brick-red;
      }
    }
  }
  .env-tiers,
  .env-tiers-resources {
    position: relative;
    .empty,
    .loading {
      height: 50px;
      line-height: 50px;
      margin-bottom: 8px;
      position: relative;
      cursor: default;
    }
  }
}

// TODO: move to wizrd scss
.resource-template-editor {

  .wizard-tab-separator {
    width: 850px;
    margin: 20px auto 0;
    border-top: 2px solid $fifty-percent-gray;
  }

  .wizard-tab-content__element {
    display: none;

    &.active {
      display: block;
    }
  }

  .tabs-wrapper {
    text-align: center;
  }
}

.resource-template-editor,
.create-env-provisioning {
  background-color: $default-white;

  .react-form {
    &__label {
      line-height: 18px;
      margin-right: 35px;
      position: relative;
    }
    &__input-container,
    &__textarea-container,
    &__label,
    &__validation,
    &__txt-input-holder,
    &__textarea-holder,
    &__select-container {
      display: inline-block;
      vertical-align: top;
      float: none;
    }

    &__label,
    &__validation {
      padding-top: 10px;
    }
    &__sub-form {
      margin-top: 20px;
    }
    .label__help-icon {
      top: 10px;
    }
    .ec-react-help__wrapper {
      position: absolute;
      right: -18px;
      top: 10px;
    }
  }

  .headline {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 400;
  }

  .sub-header {
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
  }

  .wizard-tabs-container {
    width: 480px;
    height: 38px;
    margin: 0 auto;
    border: 1px solid $emperor-gray;

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;

    }

    .wizard-tab {
      width: 158px;
      height: 36px;
      float: left;
      cursor: pointer;
      font-size: 15px;
      line-height: 36px;
      text-align: center;
      border: 1px solid $emperor-gray;

      &.active {
        color: $default-white;
        background-color: $emperor-gray;
      }
    }
  }

  .wizard-tab-content {
    margin: 0 auto;
    height: 416px;

    .resource-template-edit-details {
      padding-top: 30px;
    }

    .wizard-form-row {
      min-height: 40px;
      padding: 0 20px;
      margin-bottom: 21px;

      .wizard-label {
        width: 168px;
        margin: 0;
        line-height: 40px;
        display: inline-block;
        vertical-align: top;
        text-align: right;
        padding-right: 20px;
      }

      .wizard-input {
        width: 318px;
        height: 38px;
        padding: 0 5px;
        margin: 0;
        border-radius: 0;
        text-align: center;
      }

      .wizard-text-area {
        width: 318px;
        height: 104px;
        padding: 0 5px;
        margin: 0;
        border-radius: 0;
        resize: none;
      }
    }
    .management,
    .configuration-tab {
      .at-login-as-credential-password {
        text-align: left;
        resize: vertical;
      }
    }
  }

  .ec-wizard-foot .ec-wizard-foot-inner .ec-wizard-button {
    width: 200px;
    height: 60px;
    line-height: 60px;
  }
  .ec-wizard-foot {
    height: 60px;
    min-height: 60px;
  }
}

.sds-env-tpl-info {

  .list-offset {
    max-height: 189px;
    min-height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 8px;
    width: 445px;
  }
  &__item {
    overflow: hidden;
    border-bottom: 1px solid $default-black;
    width: 445px;
    padding: 8px 0;

    &:last-child {
      border-bottom: none;
    }
  }
  &__block {
    float: left;
    width: 150px;

    &--wide {
      width: 245px;
    }
    &--with-date {
      width:200px;
    }

  }
  &__label {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }
  &__val {
    display: inline-block;
    vertical-align: middle;
    &--cut-txt {
      overflow: hidden;

      max-width: 130px;
      text-overflow: ellipsis;

      white-space: nowrap;
    }
    &--owner {
      max-width: 180px;
    }
  }
}

.environment-tear-down {
  .attention {
    margin-top: 28px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
  }

  .description {
    margin-top: 10px;
    text-align: center;
  }
}

.sds-modal.tear-down-view-modal,
.sds-modal.iframe-process-details-view-modal {
  .sds-modal-body {
    display: flex;
    flex-direction: column;

    .body-header {
      height: 72px;
      text-align: center;

      .header-close {
        position: absolute;
        top: 26px;
        left: 26px;
        font-size: 15px;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }

      .history-back {
        position: absolute;
        top: 26px;
        left: 50px;
        font-size: 18px;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }

      .header-title {
        font-size: 24px;
        line-height: 72px;
      }
    }

    .tear-down-frame {
      flex: 1;
      width:100%;
    }
  }
}

.resource-template-editor {
  .react-form {
    height: 344px;

    &__label {
      width: 227px;
    }
  }
}

.create-env-provisioning {
  &.tmpl-instance {
    width: 880px;
  }
  .react-form {
    height: 380px;
  }
}

.ec-grid-primary .ec-grid-primary__col.ec-grid-primary__col--resource-inventory-error {
  text-align: right;
  font-weight: bold;
  color: $dark-red;
  width: 85px;

  .sds-svg-icon {
    fill: $dark-red;
    vertical-align: text-top;
  }

  a {
    color: $dark-red;
  }
}
