//================================================
//  Tasks
//================================================

.modals-box {
  .define-task {
    .ec-select {
      &.disabled {
        color: $input-text-disabled-color;
        .dropdown:before {
          color: $input-text-disabled-color;
        }
        .plugin:before {
          color: $input-text-disabled-color;
        }
      }
      &:not(.disabled) {
        .ec-select-header {
          .toolbox:before {
            color: $brown;
          }
          .plugin-category:before {
            color: $brown;
          }
          .plugin:before {
            color: $default-black;
          }
          .procedure:before {
            color: $dark-blue;
          }
          .application {
            color: $very-soft-blue;
          }
          .view-processes {
            color: $appNotificationsProcessIconColor;
          }
          .dynamic-env, .environment {
            color: $orange;
          }
          .snapshot {
            color: $medium-dark-blue;
          }
          .workflow {
            color: $default-black;
          }
        }
      }
    }

    .app-run-rolling-deploy {
      height: 445px;
    }

    //TODO: this is copy/paste from application-run.scss need to refactor both files
    //and move to mixins
    .ec-smart-run-container {
      margin: 0 -25px;

      .wizard-form-row.wizard-step-credential {
        padding: 0 25px;
      }

      .react-form__checkbox-container__label--text {
        font-size: 16px;
      }

      .react-form__checkbox-container {
        display: inline-block;
      }

      .wizard-separator {
        @include separator();
      }
    }

    .ec-react-wizard__loader {
      display: flex;
      flex-direction: column;
    }

    &__container {
      flex: 1;
      display: flex;
      flex-direction: row;
    }
    .ec-react-wizard {
      &__head {
        //TODO header styles should be reused as much as possible
        background-color: $soft-light-gray;
        height: 50px;
        line-height: 50px;
        margin: 20px;
        border: none;
      }
      &__header-left-block {
        margin-left: 20px;
        float: left;
        width: calc(100% - 200px);
        height: 50px;
        text-align: left;
        @include sds-ellipsis();

        .task-define-title__stage-name {
          max-width: 50%;
          @include sds-ellipsis();
          float: left;
        }

        .task-define-title__task-name {
          max-width: 50%;
          @include sds-ellipsis();
        }

        .title-name {
          .sds-icon {
            position: relative;
            padding-right: 5px;
            font-size: 13px;
            bottom: 3px;
          }
        }
      }
      &__header-right-block {
        margin-right: 20px;
        .sds-icon {
          cursor: pointer;
          margin-left: 20px;

          &.disabled {
            color: $medium-soft-gray;
            cursor: default;
          }
        }
      }
      &__content {
        flex-direction: column;
        padding: 0 0 0 20px;
        flex: 1;
        display: flex;
        .left-part {
          display: flex;
          flex-direction: column;
          width: 237px;
          box-sizing: border-box;
          padding-right: 20px;
          border-right: 2px solid $very-light-gray;
          .react-form__radio-container {
            height: 60px;
            line-height: 60px;
            position: relative;
            .radio-custom-icon {
              width: 46px;
            }
            .sds-svg-icon {
              fill: $default-black;
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              &--icon-process {
                width: 20px;
                height: 20px;
              }
              &--icon-procedure {
                width: 24px;
                height: 15px;
              }
              &--icon-manual-process-step {
                width: 24px;
                height: 24px;
              }
              &--icon-workflow-task {
                width: 22px;
                height: 18px;
              }
              &--icon-plugin-type {
                width: 20px;
                height: 20px;
              }
              &--icon-utilities {
                width: 26px;
                height: 20px;
              }
            }
            .radio-btn {
              margin: 0 10px 0 17px;
              font-size: 20px;
              line-height: 60px;
              cursor: pointer;
              color: $sushi-green;
            }
            &.selected {
              color: $default-white;
              background-color: $sushi-green;
              .radio-btn {
                color: $default-white;
              }
              .sds-svg-icon {
                fill: $default-white;
              }
            }
          }
          .react-form__radio-container__label {
            font-size: 18px;
            letter-spacing: .3px;
          }
        }
        .middle-part {
          display: flex;
          flex: 1 1 575px;
          flex-direction: column;
          overflow: hidden;
          border-right: 2px solid $very-light-gray;
          padding: 0 7%;
          box-sizing: border-box;

          .react-form {
            &__txt-input-wrapper {
              margin: 0 auto 8px;
            }
            &__txt-input {
              width: 100%;
              padding: 0;
              box-sizing: border-box;
            }
          }

          .ec-react-help__icon {
            font-size: 18px !important;
          }
        }
        .right-part {
          display: flex;
          flex-direction: column;
          flex: 1 1 575px;
          .provision-res-number-modal {
            .react-form {
              height: 370px;
            }
            .react-form {
              &__txt-input-label {
                float: none;
                width: initial;
              }
            }
            .sds-number-input {
              display: inline-flex;
            }
          }
        }
      }

      .ec-wizard-row--select-row {
        margin-bottom: 8px;
      }

      &__footer {
        .ec-wizard-btn {
          width: 225px;
          float: right;
          &.ec-cancel {
            border-left: 2px solid $default-white;
          }
        }
      }
      .ec-select .ec-select-options {
        max-height: 260px;
      }
      .ec-project-select-picker__project-options {
        max-height: 172px;
      }
    }

    &__process-toggles {
      margin-top: -2px;
      width: 130%;
      margin-left: -15%;
    }
  }
}

.modals-box .editing-task {
  .ec-react-wizard__content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .editing-task__header {
    @include modal-header-text();
  }

  .react-form__textarea-wrapper--editing-task {
    margin-bottom: 40px;

    .react-form__textarea {
      height: 68px;
    }
  }

  .editing-task__on-error {
    line-height: 36px;
    border-top: 2px solid $default-black;
    border-bottom: 2px solid $default-black;
    text-align: left;

    &__title {
      display: inline-block;
      width: 115px;
    }

    .react-form__radio-block--editing-task {
      display: inline-block;
    }

    .react-form__radio-container {
      display: inline-block;
      width: 165px;
    }

    .radio-btn {
      margin-right: 5px;
      font-size: 20px;
    }
  }
}

.modals-box .editing-rule {
  .ec-react-wizard__content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .editing-rule__header {
    @include modal-header-text();
  }

  .react-form__txt-input-wrapper--editing-rule {
    margin-bottom: 40px;
  }

  .editing-rule__automatch {
    margin-bottom: 40px;
    text-align: left;
  }

  .ec-grid-primary__col--template-select {
    margin-bottom: 40px;
    font-size: 18px;

    .ec-select .ec-select-header {
      .notification {
        font-size: 16px;
        color: $default-black;
      }

      .ec-select-header-title {
        padding-left: 10px;
        text-align: left;
      }
    }
  }

  .editing-rule__on-error {
    line-height: 36px;
    border-top: 2px solid $default-black;
    border-bottom: 2px solid $default-black;
    text-align: left;

    &__title {
      display: inline-block;
      width: 115px;
    }

    .react-form__radio-block--editing-rule {
      display: inline-block;
    }

    .react-form__radio-container {
      display: inline-block;
      width: 165px;
    }

    .radio-btn {
      margin-right: 5px;
      font-size: 20px;
    }
  }
}

.ec-grid {
  &--stage-tasks {
    margin: 0;
    box-sizing: border-box;
  }

  .ec-row {
    .ec-col {
      .sds-icon {
        &.static-env-up,
        &.dynamic-env-up {
          color: $orange;
        }

        &.procedure {
          color: $dark-blue;
        }

        &.deployer {
          color: $dark-blue;
        }

        &.application {
          color: $very-soft-blue;
        }
      }

      &--task-project {
        width: 60px;
        text-align: center;
        user-select: none;

        .toolbox {
          cursor: pointer;
          color: $brown;
        }
      }
    }
    &.selected {
      .ec-col__drag--draggable,
      .sds-icon.procedure {
        color: $default-white;
      }
    }
  }
  &.ec-row--creating {
    margin: 16px 0 0;
  }
  &.ec-row--creating-first {
    margin-top: 0;
  }
  &.ec-row--change-ordering {
    border-bottom: 3px solid $default-white;
  }
}

.sds-popover.sds-popover--task-select {
  width: 300px;

  .version-input {
    width: 276px;
    height: 24px;
    margin: 5px;
    border-radius: 0;
  }

  .sds-icon.search {
    display: inline;
    position: absolute;
    top: 13px;
    right: 11px;
    font-size: 20px;
  }

  .sds-popover-link.hidden {
    display: none;
  }
}

.sds-popover.sds-popover--task-toolbox {
  .plain-text {
    max-width: 230px;
  }
}

.task-deployer {
  &__title {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 40px;
  }
  &__description {
    text-align: left;
    p {
      margin: 20px 0;
    }
  }
  &__attention {
    margin: 35px 0 0;
    font-weight: 700;
    font-size: 16px;
    .alert-icon {
      background-image: url('../img/attention.png');
      display: inline-block;
      margin-right: 6px;
      margin-bottom: -3px;
      width: 24px;
      height: 19px;
    }
  }
}

.task-manual {
  &__instruction {
    text-align: left;
    padding: 0 0 5px;
    margin: 0 0 15px;
    &-label {
      color: $very-light-gray;
      margin:  12px 0;
      font-size: 16px;
      text-align: center;
      .sds-icon {
        margin: 0 5px 0 0;
      }
    }
    .react-form__textarea-holder {
      width: 100%;
    }
    .react-form__textarea {
      width: 100%;
      height: 130px;
      box-sizing: border-box;
      border: 2px solid $light-gray;
      &:focus {
        box-shadow: none;
        border-color: $middle-blue;
      }
    }
  }
  &__assignees {
    font-size: 16px;
    @include clearfix();
    &-label {
      float: left;
      .sds-icon {
        margin: 0 5px 0 0;
      }
    }
    &-selected {
      cursor: pointer;
      float: right;
      &--required {
        color: $default-red;
      }
      .sds-icon {
        color: $soft-black;
        margin: 0 0 0 5px;
      }
    }
  }
  &__automatch {
    text-align: left;
    padding-bottom: 40px;
    border-bottom: 2px solid $default-black;
  }

  &__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.task-deployer-grid {
  margin: 0 0 0 30px;

  .loader-bg {
    background: none;
  }
  .task-deployer {
    &__empty-list {
      text-align: center;
      font-size: 16px;
      margin: 10px 0 15px;
    }
  }
}

.modals-box {
  .manual-task-approve {
    .ec-react-wizard__head {
      height: 50px;
      line-height: 50px;
      border-bottom: none;
      margin: 20px;
      background: $soft-light-gray;
      .sds-icon {
        margin: 0 5px 0 0;
      }
    }
  }
}

.manual-task-approve {
  &__container {
    @include clearfix();
    text-align: left;
  }
  &__left,
  &__right {
    float: left;
    width: 436px;
  }
  &__right {
    margin: 0 0 0 80px;
  }
  &__label{
    font-size: 16px;
    margin: 0 0 4px;
    &--choose {
      margin-right: 40px;
    }
    .sds-icon {
      margin: 0 7px 0 0;
    }
  }
  &__instruction-content {
    height: 272px;
    font-size: 16px;
    overflow: auto;
  }
  &__comment {
    &-content--completed {
      height: 150px;
      overflow: auto;
    }
    .react-form {
      &__textarea {
        width: 100%;
        font-size: 16px;
        height: 360px;
        box-sizing: border-box;
      }
      &__textarea-holder {
        width: 100%;
      }
    }
  }
  &__instrucion-content {
    height: 250px;
  }
  &__assignees {
    margin: 30px 0 0;
  }
  &__automatch {
    position: relative;
  }
  &__automatch-disabler {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__automatch-container {
    .Select-item-icon {
      display: none;
    }
    .sds-select-automatch__remove-all {
      display: none;
    }
  }
  &__choose {
    font-size: 16px;
    margin: 30px 0 0;
    & > div {
      display: inline-block;
    }
    .react-form__radio {
      display: inline-block;
      margin: 0 5px 0 0;
      vertical-align: middle;
      &-container__label {
        font-size: 16px;
        display: inline-block;
      }
      &-container {
        margin: 0 20px 0 0;
        display: inline-block;
      }
    }
  }
  &__results {
    margin: 0 0 20px;
    &-item {
      list-style: none;
      margin: 0 0 10px;
      font-size: 16px;
      &--left {
        display: inline-block;
        width: 200px;
        .sds-icon {
          display: inline-block;
          width: 20px;
          text-align: center;
          margin: 0 5px 0 0;
        }
      }
      &--right {
        display: inline-block;
        .sds-icon {
          margin: 0 0 0 5px;
          &.check-mark {
            color: $default-green;
          }
          &.remove {
            color: $default-red;
          }
        }
      }
    }

  }
}

.modals-box .define-task__plugin-parameters .ec-react-wizard__header-left-block {
  max-width: 100%;
  .sds-icon {
    font-size: 16px;
    bottom: 0;
  }
  .sds-svg-icon--icon-utilities {
    position: relative;
    bottom: 2px;
  }
}

.define-task__plugin-form {
  width: 924px;
  height: 484px;
  overflow-y: auto;
  position: relative;
}
