//================================================
//  Credentials
//================================================

.at-credential-wrap {
  width: 626px;
  height: 576px;
  background-color: $prop-view-bg;

  .separator {
    border-top: 2px solid grey;
  }

  .at-credential-cv-item-container {
    cursor: pointer;
    border-bottom: 2px solid grey;
    padding: 5px 25px 3px;

    &.selected {
      background-color: grey;
      color: white;
      border-bottom: 2px solid #D3D3D3;
    }

    .modal-left-name {
      float: left;
      width: 50%;
    }

    .modal-left-name--small {
      width: 33%;
    }

    .modal-credential-name-container {
      padding-left: 5px;
      height: 25px;
      @include sds-ellipsis;
    }

    .modal-credential-type-container {
      width: 40%;
      float: left;
      height: 25px;
      @include sds-ellipsis;
    }
    .modal-credential-type-container--small {
      width: 33%;
    }
  }

  .ec-wizard-head {
    height: 42px;

    .ec-wizard-title {
      line-height: 42px;
    }
  }

  .ec-wizard-body .title {
    font-size: 24px;
    text-align: center;
    line-height: 44px;
  }
  .credential-type {
    display: flex;
    justify-content: space-between;
    border-width: 2px 0;
    border-style: solid;
    border-color: $separatorBG;
    height: 40px;
    line-height: 40px;
    margin: 0 30px;

    .impersonation-title {
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    .txt {
      width: 20%;
      font-size: 14px;
    }

    label {
      height: 100%;
      line-height: 40px;
      margin: 0;
    }

    input[type=radio] {
      margin-left: 10px;
      margin-top: 0;
      width: 20px;
      height: 20px;
    }
  }
  .center-container {
    width: 314px;
    margin: 30px auto 0;

    .warning-container {
      font-size: 14px;
      margin-bottom: 30px;

      .warning {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 0;
        text-align: left;
      }

    }

    .ec-row {
      &--select {
        text-align: center;
        position: relative;
        width: 314px;
        height: 40px;
        font-size: 18px;
        margin-bottom: 20px;

        .toolbox,
        .credentials {
          font-size: 22px;
        }

        .sds-icon.credentials {
          color: $black;
        }
      }
    }

    .select-credential,
    .at-credential-list-item {
      .sds-icon {
        @include sds-icon-size(16px, 38px, 38px);
        float: left;
        margin-left: -38px;
      }
    }
  }
  .at-credential-cv {
    font-size: 14px;

    .at-credentials-list-container{
      max-height: 425px;
      overflow-y: auto;
    }

    .at-credentials-empty-container {
      height: 75px;
      width: 180px;
      border: 3px dashed #1c74bb;
      margin: 150px auto;
      color: #1c74bb;
      cursor: pointer;

      .sds-icon {
        @include sds-icon-size(45px, 45px, 75px);
        float: left;
        margin-left: 10px;
        margin-right: 5px;
      }

      .text-block {
        float: left;
        font-size: 16px;
        .txt {
          line-height: 25px;
        }
      }
    }

    .at-credentials-header-container {
      font-size: 18px;
      height: 42px;
      padding: 0 20px 0 5px;
      border-bottom: 2px solid black;

      .sds-icon {
        @include sds-icon-size(18px, 20px, 42px);
      }

      .header-title {
        line-height: 42px;
        vertical-align: middle;
      }
    }

    .actions {
      float: right;

      .ec-control {
        cursor: pointer;
        margin-left: 25px;
        font-size: 14px;

        .sds-icon {
          @include sds-icon-size(18px, 20px, 42px, auto, 11px);
        }

        .sds-svg-icon.sds-svg-icon--button-delete {
          width: 18px;
          height: 18px;
          vertical-align: sub;
          fill: $default-red;
        }
      }

      .ec-control.disabled {
        .sds-svg-icon.sds-svg-icon--button-delete {
          fill: $forty-percent-gray;
        }
      }
    }
    .modal-subheader-container {
      border-bottom: 2px solid grey;
      margin: 0 30px;

      .at-credentials-number-container {
        display: inline-block;
        float: left;
        margin-top: 7px;
        margin-left: 5px;
      }

      .modal-subheader-name {
        float: left;
        margin-top: 7px;
        margin-left: 5px;
      }

      .select {
        line-height: 33px;
        float: right;

        .text-label,
        .selectToggle {
          display: inline-block;
          color: $header-text-color;
          font-family: $base-font-family;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: $base-letter-spacing;
        }

        .text-label {
          margin-right: 1px;
        }

        .selectToggle {
          cursor: pointer;
          background-color: $select-toggle-bg-color;
          border: 1px solid $select-toggle-border-color;
          padding-left: 5px;
          padding-right: 5px;
          text-align: center;
          line-height: 18px;
          width: 60px;

          // "All" button

          &:hover {
            background-color: $select-toggle-hover-bg-color;
            border: 1px solid $select-toggle-hover-border-color;
            color: $select-toggle-hover-color;
          }

          &:active {
            background-color: $select-toggle-active-bg-color;
            border: 1px solid $select-toggle-active-border-color;
            color: $select-toggle-active-color;
          }

          // "None" button

          &.select-none {
            display: none;
            background-color: $select-toggle-none-bg-color;
            border: 1px solid $select-toggle-none-border-color;
            color: $select-toggle-none-color;

            &:hover {
              background-color: $select-toggle-none-hover-bg-color;
            }

            &:active {
              background-color: $select-toggle-none-active-bg-color;
            }
          }
        }
      }
    }

    .modal-subheader-title {
      margin: 5px 30px;

      .modal-left-name {
        float: left;
        width: 50%;
      }

      .modal-left-name--small {
        width: 33%;
      }
    }
  }
}

.credential-select-dropdown {
  .at-credential-list-item {
    @include sds-ellipsis;
    text-align: left;
    font-size: 16px;

    &.center {
      text-align: center;
    }

    .sds-icon.credentials {
      @include sds-icon-size(16px, 38px, 16px);
    }
  }
}
