//================================================
//  Starting-option-modal
//================================================

.starting-option-modal {
  width: 600px;
  height: 450px;
  text-align: center;
  position: absolute;
  background-color: $default-white;
  left: 50%;
  transform: translate(-50%, 50px);
  box-shadow: 0 2px 20px 2px $default-black;

  .header {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }

  .subheader {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .subheader-text {
    flex: 300px;
    height: 50px;
    text-align: center;
    padding: 0 75px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &.center {
      flex: auto;
      padding: 0;
    }

    &.cluster {
      padding: 0 100px;
    }
  }

  .options-container {
    display: flex;
    height: 300px;
    justify-content: center;
  }

  .option-wrapper {
    flex: 1;

    .ec-react-help__wrapper {
      margin: 0;
      width: auto;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tier {
    margin-top: 0;
    box-shadow: none;
  }

  .divider {
    flex: 0 0 0;
    border: 1px solid $default-black;
    box-sizing: border-box;
  }
}
