//================================================
//  Credential parameter
//================================================

.task-credential-picker-container {
  $block: '.task-credential-picker';
  position: relative;

  .ec-select.disabled .ec-select-header {
    color: $input-text-disabled-color;
    border-left: 1px solid $some-light-gray;
    border-right: 1px solid $some-light-gray;
    background-color: $some-light-gray;

    .sds-icon {
      color: $input-text-disabled-color;
    }
  }

  #{$block}__input {
    display: flex;
    justify-content: space-around;

    .react-form__txt-input-wrapper {
      margin: 0 0 20px;

      .react-form__txt-input-holder {
        width: 280px;
      }

      .react-form__txt-input {
        width: 265px;
      }
    }
    .browse-credentials {
      display: inline-block;
      cursor: pointer;
      font-size: 14px;
      line-height: 40px;
      color: $blue;

      &.disabled {
        cursor: default;
        color: $gray;
      }
    }
  }
  #{$block}__types {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .sds-icon.remove {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      font-size: 10px;
      vertical-align: top;
      cursor: pointer;
    }

    .credential-bind {
      display: inline-block;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      vertical-align: top;
    }

    .type-container--parameter,
    .type-container--credential {
      display: inline-block;
      vertical-align: top;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      cursor: pointer;
    }

    .type-container__text {
      margin-right: 5px;
    }
  }

  #{$block}__credential-select,
  #{$block}__source-list-select,
  #{$block}__parameter-select {
    position: relative;
    width: 300px;
    height: 40px;
    margin: 20px auto 0;

    .pipeline {
      font-size: 10px;
    }

    .ec-select-header {
      color: $white;
      border-left: 1px solid $medium-dark-blue;
      border-right: 1px solid $medium-dark-blue;
      background-color: $medium-dark-blue;

      .sds-icon {
        color: $white;
      }
    }
  }

  #{$block}__source-select {
    position: relative;
    width: 348px;
    height: 40px;
    margin: 20px auto 0;

    .ec-select.active .ec-select-header .sds-icon.remove {
      color: $fifty-percent-gray;

      &:hover {
        color: $default-black;
      }
    }

    .sds-icon.remove:hover {
      color: $default-black;
    }
  }

  #{$block}__separator {
    border-bottom: 2px solid $default-border-dark;
  }
}
