//================================================
//  Releases
//================================================

.release-page.page-content {
  overflow: hidden;
}
.create-release {
  .heading {
    width: 536px;
    @include modal-header-text();
  }

  .breadcrumb {
    font-size: 12px;
    .add-component {
      font-size: 14px;
    }
    .releases {
      font-size: 9px;
    }
  }

}

.release-inner {
  width: 90%;
  max-width: 1230px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  min-width: 900px;
}

.release {
  &__panel {
    max-width: 590px;
    float: left;
    min-width: 450px;
    width: 48%;

    &--right {
      background: $ten-percent-gray;
      margin-left: 20px;
    }
  }

  &__menu-item {
    cursor: pointer;
    text-align: center;
    position: relative;
    height: 100px;
    line-height: 100px;
    margin-bottom: 10px;
    background: $very-soft-gray;
    font-size: 18px;
    box-sizing: border-box;
    .sds-icon {
      position: absolute;
      left: 20px;
      width: 34px;
      text-align: center;
      &.description {
        position: static;
        margin-left: 5px;
        color: $gray;
        cursor: pointer;
      }
      &.edit {
        cursor: pointer;
        left: auto;
        right: 20px;
        width: 20px;
      }
      &.pipeline {
        font-size: 14px;
        color: $violet;
      }
      &.application {
        font-size: 22px;
        color: $very-soft-blue;
      }
      &.environment {
        font-size: 22px;
        color: $orange;
      }
      &.property {
        font-size: 22px;
        color: $ninety-percent-blue;
      }
      .access.environment {
        font-size: 22px;
      }
    }

    &-warnings {
      position: absolute;
      top: 0;
      right: 54px;
      color: $dark-red;
    }

    &-warning {
      display: inline-block;
      line-height: 54px;
      vertical-align: middle;
      &--line {
        height: 2px;
        width: 90px;
        background: $default-white;
        margin-right: 9px;
      }
      &--first-item {
        border-bottom: 2px solid $default-white;
      }
      &--small-item {
        text-align: right;
        line-height: 26px;
      }
      &--right-border {
        border-right: 2px solid;
        border-color: $default-white;
      }
      &--soft-gray-border {
        border-color: $soft-gray;
      }
      &--small-text {
        font-size: 14px;
      }
      .sds-icon {
        position: relative;
        left: 0;
        margin: 0 9px;
      }
    }

    &.no-hover {
      cursor: default;
    }
    &.white {
      border: 2px solid $very-soft-gray;
      background: $default-white;
      cursor: default;
    }
    &.disabled {
      cursor: default;
      color: $simple-light-gray;
      .sds-icon {
        color: $simple-light-gray;
      }
    }
    &:not(.no-hover):hover {
      background: $soft-gray;
    }
  }
  &__menu-item-name {
    display: inline-block;
    max-width: 320px;
    @include sds-ellipsis();
    white-space: pre;
  }
  &__notes-header {
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid $twenty-percent-black;
    font-size: 18px;
  }
  &__notes-header-block {
    display: inline-block;
    width: 118px;
    text-align: center;
    .sds-icon {
      &.note {
        margin: 0 5px 0 9px;
      }
      &.dropdown {
        cursor: pointer;
        margin-right: 3px;
        font-size: 8px;
      }
      &.search {
        cursor: pointer;
      }
      &.plus-sign {
        margin-left: 5px;
      }
    }
    .sds-svg-icon.sds-svg-icon--button-delete {
      vertical-align: sub;
      fill: $default-red;
    }
    &--delete {
      width: 130px;
      font-size: 16px;
      float: right;
      cursor: pointer;
    }
    &--add {
      cursor: pointer;
      float: right;
      width: 90px;
      text-align: right;
      padding-right: 15px;
      font-size: 16px;

    }
    &--disabled {
      color: $simple-light-gray;
      cursor: default;
      .sds-svg-icon.sds-svg-icon--button-delete {
        fill: $simple-light-gray;
      }
    }

  }
  &__notes-list {
    height: 388px;
    overflow: auto;
    padding: 0 18px;
  }
  &__notes-item {
    background: $some-light-gray;
    margin: 0 0 8px;
    padding: 6px 12px 6px 8px;
  }
}
.release-note-item {
  &--selected {
    background: $gray;
    color: $white;
  }
  &__head {
    overflow: hidden;
  }
  &__notes-item-text {
    overflow-x: auto;
    overflow-y: hidden;
  }
  &__date {
    float: left;
    max-width: 90%;
    @include sds-ellipsis;
  }
  &__edit-btn {
    float: right;
    cursor: pointer;
    display: none;
  }
  &:hover {
    .release-note-item__edit-btn {
      display: block;
    }
  }
}

.create-release-note-wizard {
  .heading {
    width: 536px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 70px;
    height: 70px;
    text-align: center;
  }
  .release-note-content {
    width: 470px;
    margin: 0 auto;
    font-size: 18px;
    height: 260px;
  }
}

.modals-box .release-env-map {
  &__head {
    .ec-react-wizard__header-center-block {
      .sds-icon.pipeline {
        vertical-align: middle;
        margin: 0 4px;
        font-size: 14px;
        color: $violet;
      }
    }

    .ec-react-wizard__header-left-block {
      .separator {
        margin: 0 4px;
      }

      &--right-margin {
        margin: 0 4px 0 0;
      }

      &--ellipsis {
        display: inline-block;
        max-width: 470px;
        @include sds-ellipsis();
        white-space: pre;
      }

      .sds-icon {
        vertical-align: middle;
        margin-right: 4px;
      }

      .sds-icon.releases {
        font-size: 12px;
        color: $bright-blue;
      }

      .sds-icon.environment {
        color: $orange;
      }

      .sds-icon.property {
        color: $ninety-percent-blue;
        position: relative;
        font-size: 19px;
        bottom: 1px;
      }
    }

    .ec-react-wizard__header-right-block {
      margin-top: 10px;
      margin-right: 10px;
      .sds-icon {
        cursor: pointer;
        margin-right: 24px;

        &.squeeze-details {
          font-size: 16px;
          vertical-align: middle;
        }

        &.disabled {
          cursor: default;
        }
      }

      .control {
        cursor: pointer;
        margin-right: 24px;

        .label {
          font-size: 15px;
        }

        .dropdown {
          margin: 0 4px 0 0;
          font-size: 10px;
        }
      }
    }
  }

  .ec-react-wizard__content {
    padding: 0;
  }

  .app-run-rolling-deploy {
    height: 410px;
  }

  &__list-head {
    border-bottom: none;
    margin: 0 24px 0 20px;

    .ec-react-wizard__header-left-block {
      position: absolute;
      margin-left: 0;
      z-index: 1;
      left: 0;

      .search-collapsable {
        margin-top: 8px;

        &__search-input.sds-input {
          font-size: 16px;
          padding: 0 26px;
          height: 28px;
        }

        .sds-icon.remove {
          font-size: 14px;
          top: 3px;
          right: 5px;
        }

        .sds-icon.search {
          top: 2px;
          cursor: default;
          line-height: 28px;
        }
      }
    }

    .ec-react-wizard__header-center-block {
      .sds-icon {
        margin: 0 10px;
        cursor: pointer;
        color: $fifty-percent-gray;

        &.active {
          color: $light-black;
        }
      }
    }

    .ec-react-wizard__header-right-block {
      .control {
        cursor: pointer;
        &--disabled {
          color: $soft-gray;
          cursor: default;
        }
      }

      .label {
        font-size: 15px;
        margin-right: 8px;
      }

      .sds-icon.clearcell {
        margin-right: 24px;
        font-size: 17px;
      }
    }
  }

  &__table {
    width: 1236px;
    height: 426px;
    line-height: 38px;
    font-size: 14px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  &__stages-head-item {
    overflow: hidden;
    border-left: 2px solid gray;
    box-sizing: border-box;
    float: left;
    @include sds-ellipsis;
    white-space: pre;

    &--last {
      border-right: 2px solid $fifty-percent-gray;
    }

    &--number {
      border-left: none;
    }

    .application {
      color: $very-soft-blue;
      vertical-align: middle;
      font-size: 24px;
    }
  }
  &__table-content {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -2px;
  }
  &__table-content-inner {
    overflow: auto;
    padding-bottom: 22px;
  }
  &__apps-header {
    float: left;
  }
  &__apps-header-item {
    overflow: hidden;
    border-left: 2px solid gray;
    box-sizing: border-box;
    float: left;
    position: relative;

    &--number {
      text-align: right;
      border-left: none;
    }
    &-parameter {
      position: absolute;
      top: 0;
      right: 0;
      .sds-icon {
        margin: 0 5px;
      }
    }
    &-text {
      display: inline-block;
      @include sds-ellipsis();
      white-space: pre;
    }
  }

  &__maps {
    float: left;
    position: relative;
  }
  &__map {
    position: relative;
    z-index: 100;
    overflow: hidden;
    float: left;
    border-left: 2px solid gray;
    box-sizing: border-box;
    @include sds-ellipsis();
    white-space: pre;

    .ec-react-help__wrapper {
      margin: 0;
    }
    &--last {
      border-right: 2px solid $fifty-percent-gray;
    }

    &--empty {
      width: 100%;
    }

    &--selected {
      background-color: $ec-environment-maps-cell-selection;
    }
  }
  &__warning {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    bottom: 2px;
    right: 2px;
    color: $dark-red;
  }

  &__config {
    font-size: 18px;
    color: $light-green;
    &--missing {
      color: $soft-red;
    }
  }

  &__cell-selector {
    box-sizing: border-box;
    position: absolute;
    background-color: $ec-environment-maps-cell-selection;
    z-index: 50;
  }

  &__cell-rolling-deploy {
    line-height: 12px;
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

.ec-release-fill-side-bar {
  width: 0;
  position: relative;
  z-index: 11002;

  //Copy style from .ec-react-wizard--wizard-create
  //TODO: make this style global not only for .ec-react-wizard--wizard-create
  .ec-col--projects-select,
  .ec-col--search,
  .ec-col--environment-tabs {
    position: relative;
    width: 355px;
  }

  .ec-grid-primary .ec-grid-primary__row--column {
    height: auto;
  }

  .ec-grid-primary__col--rolling-deploy-actions {
    width: 80px;
  }

  .ec-grid-primary__col--rolling-deploy-go-details-disabled {
    opacity: 0.5;
    cursor: default;
  }

  .ec-col__project {
    line-height: 40px;
  }

  .ec-col--projects-select {
    margin-right: 30px;
    font-size: 18px;

    .toolbox {
      font-size: 22px;
    }

    .project-select-popover {
      cursor: pointer;
    }
  }

  .ec-col--search {
    position: static;
    text-align: right;

    .search-collapsable__search-input {
      &.sds-input {
        background-color: $default-white;
        height: 40px;
        font-size: 18px;
        padding-left: 23px;
      }

    }
    .search-collapsable {
      .sds-icon {
        line-height: 40px;
      }
    }
  }
  //End copy

  .ec-react-help__wrapper {
    position: relative;
    margin-left: 8px;
    width: 25px;
  }

  .ec-react-help__icon {
    font-size: 24px !important;
    line-height: 35px;
  }

  .react-form__textarea {
    background-color: $white;
  }

  &--environment-content {
    left: 400px;
  }

  &__footer {
    position: absolute;
    width: 460px;
    bottom: 0;

    &--environment-content {
      width: 1296px;
    }

    .ec-wizard-btn {
      float: right;
    }
  }
  &__content {
    flex: 1;
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    .parameter-container {
      height: 450px;
    }
  }
  .fill-item-type {
    display: flex;
    height: 108px;
    line-height: 108px;

    .ec-col--projects-select {
      margin-right: 0;
      height: 40px;
    }

    &__wrapper {
      width: 355px;
      display: flex;
    }

    &--center {
      justify-content: center;
      align-items: center;
    }
    &--selected {
      background-color: $some-light-gray;
    }
    &__right {
      width: 40px;
    }

    &__left {
      width: 60px;
      text-align: center;
      font-size: 21px;
      line-height: 103px;
      .sds-icon {
        cursor: pointer;
      }
      &--small {
        width: 35px;
      }
      &--left-text-align {
        text-align: left;
      }
    }

    &__center {
      flex: 1;
      .ec-wizard-row--text {
        line-height: 40px;
      }
      &--no-flex {
        flex: none;
      }
      .react-form__txt-input {
        width: 308px;
      }
      .ec-wizard-row--text {
        font-size: 18px;
        text-align: left;
      }
      .ec-col--projects-select {
        margin-right: 0;
        height: 40px;
      }
    }

  }
  .arrow-close:not(.disabled),
  .arrow-open:not(.disabled) {
    font-size: 22px;
    cursor: pointer;
  }
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $ten-percent-gray;
    position: absolute;
    width: 460px;
    &--environment-content {
      width: 834px;
      border-left: 2px solid $default-white;
      left: 460px;
    }
  }

  &__head {
    margin-right: 20px;
    .sds-icon {
      font-size: 20px;
      margin-right: 15px;
      &.arrow-close {
        margin-right: 0;
      }
      &.environment {
        color: $orange;
      }
      &.property {
        color: $ninety-percent-blue;
      }
    }
    &--show-environment-content {
      margin-right: 0;
      .sds-icon.arrow-close {
        margin-right: 15px;
      }
    }
  }

  &__grid {
    height: 330px;
    padding: 0 24px 0 30px;

    .ec-row {
      margin: 0;
      flex-wrap: wrap;
      height: auto;
    }

    .ec-row__sub {
      margin: 0 10px;
      width: 100%;
      height: 58px;
      border-top: 2px solid $very-light-gray;
      display: flex;
      flex-direction: row;

      .ec-col {
        height: auto;
      }

      .ec-wizard-row .react-form__txt-input {
        width: 237px;
      }

      .ec-col--projects-select {
        padding: 8px 0;
        margin: 0 0 0 17px;
        overflow: visible;
      }

      .ec-col--help-icon {
        margin-top: 8px;
        margin-left: 2px;
      }

      .ec-react-help__icon {
        font-size: 24px !important;
        color: $white;
      }
    }

    .sds-icon.template,
    .sds-icon.environment {
      color: $orange;
      position: relative;
      top: 2px;
      margin: 0 5px 0 10px;
      font-size: 18px;
    }

    .ec-react-help__icon {
      font-size: 14px !important;
      line-height: 14px;
    }

    .ec-row--no-objects {
      text-align: center;
      display: block;
      line-height: 40px;
      border-bottom: none;
    }
  }

  &__sub-head {
    height: 40px;
    margin: 20px 30px 0;
    display: flex;
    justify-content: center;

    &--last {
      position: relative;
      margin-bottom: 20px;
    }

    .react-form__txt-input {
      width: 277px;
    }

    .tab-container {
      margin-top: 0;
      height: 100%;

      &__environment,
      &__environment-template {
        width: 50%;
        height: 40px;
        line-height: 35px;
        border-color: $medium-dark-gray;
        color: $medium-dark-gray;

        &.active {
          color: $default-white;
          background-color: $medium-dark-gray;
        }
      }
    }

    .ec-col--help-icon {
      position: absolute;
    }
  }

  &__sub-head-rolling-deploy {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 6px;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: $medium-dark-gray;
  }

  &__overlay {
    opacity: .2;
    top: 0;
    left: 0;
    height: 576px;
    width: 100%;
    background-color: $black;
    position: absolute;
    z-index: 11002;
  }
}

.ec-release-fill-side-bar--rolling-deploy {
  position: absolute;
  top: 0;
  right: 0;
  width: 460px;
  height: 576px;
}

.modals-box .wizard-release-note-list {
  $block: '.ec-react-wizard';

  &__head {
    #{$block} {
      &__header-left-block {
        .sds-icon.close {
          cursor: pointer;
          font-size: 14px;
        }
      }

      &__header-right-block {
        margin-right: 10px;
      }

      &__header-center-block {
        width: 420px;
        left: 50%;
        margin-left: -225px;
        font-size: 16px;
        padding: 0 15px;

        @include sds-ellipsis;

        span {
          margin: 3px;
        }

        .sds-icon.releases {
          font-size: 12px;
          vertical-align: middle;
          position: relative;
          top: -1px;
          color: $bright-blue;
        }
      }
    }
  }

  #{$block} {
    &__inner {
      overflow: hidden;
    }

    &__loader {
      display: flex;
      flex-direction: column;
      min-height: 0;
    }

    &__content {
      overflow: auto;
    }
  }

  &__item {
    padding: 16px 0;
    text-align: left;
    border-bottom: 2px solid $light-black;
    background-color: $white;
  }
}
