//================================================
//  Menu
//================================================

.page {
  &.with-context-header {
    .wrapper-content-box {
      .wrapper-context-header {
        height: 104px;
        display: block;
      }

      .wrapper-content {
        height: 100%;
        width: 100%;
      }
    }
  }

  .wrapper-content-box {
    height: 100%;

    .wrapper-context-header {
      height: 0;
      display: none;
      position: relative;
      z-index: 101;
    }

    .wrapper-content {
      height: 100%;
      position: relative;
      overflow-y: auto;
    }

    //  Main menu
    .menu-main {
      width: 256px;
      position: absolute;
      z-index: 101;
      top: 0;
      list-style: none;
      margin: 0;

      li {
        height: 7%;
        min-height: 106px;
        position: relative;
        cursor: pointer;
      }
      overflow-y: auto;
      z-index: zindex(mainMenu);

      li {
        color: $default-black;
        min-height: 70px;

        .menu-link {
          @include sds-ellipsis;
          user-select: none;
          position: absolute;
          display: block;
          color: $default-black;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          font-size: 24px;
          line-height: 70px;
          text-align: left;
          padding-right: 20px;
          text-decoration: none;

          .sds-icon {
            margin: 2px 0 0;
            width: 50px;
            vertical-align: top;
            text-align: center;
            display: inline-block;
          }

          .menu-item__name-icon {
            width: auto;
            font-size: 18px;
            margin: 0 0 0 4px;
          }
        }
      }
    }

    .menu-main {
      left: 0;
      background-color: $mainMenuBackground;
      color: $default-black;

      .sds-icon.row-icon {
        font-size: 20px;
        line-height: 67px;
      }
      .menu-link .sds-icon.pipeline,
      .menu-link .sds-icon.pipelines-run {
        font-size: 12px;
      }
      .menu-link .sds-icon.access {
        font-size: 22px;
        width: 50px;
        display: inline-block;
        vertical-align: top;
        line-height: 70px;
        margin: 0;
        text-align: center;
      }

      .menu-link .sds-icon.releases {
        font-size: 12px;
        margin: 1px 0 0;
      }

      &.sub-menu {
        left: 255px;
        background-color: $menuSelectedArrowColor;
        color: $default-black;
        li {
          font-size: 16px;
          display: block;
          color: $default-black;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          line-height: 70px;
          text-align: left;
          padding-right: 20px;
          box-sizing: border-box;
          &.selected {
            background-color: $subMenuBackgroundColor;
            .menu-link {
              cursor: default;
              &:after {
                border-right-color: $subMenuBackgroundColor;
              }
            }
            &:hover {
              background-color: $subMenuBackgroundColor;
            }
          }
          &.disabled .menu-link:hover {
            background: transparent;
            &:after {
              border-right-color: $menuSelectedArrowColor;
            }
          }
        }
        .menu-link {
          font-size: 16px;
          &:hover {
            background-color: $subMenuBackgroundColor;
          }
        }
        .sds-icon.row-icon {
          font-size: 16px;
        }
      }

      li {
        .automations {
          border-top: 2px solid $default-white;
        }
        .resources {
          &:after {
            content: " ";
            position: absolute;
            right: 100%;
            top: 10px;
            border-left: 0;
            border-right: 20px solid $menuSelectedArrowColor;
            border-bottom: 25px solid transparent;
            border-top: 25px solid transparent;
          }
          &:hover:after {
            border-right-color: $subMenuBackgroundColor;
          }
        }

        &:hover {
          background-color: $mainMenuHover;
        }

        &.selected {
          box-sizing: border-box;

          .menu-link {
            cursor: default;
            color: $selectedMenuColor;
            &.applications:after,
            &.admin:after,
            &.pipelines:after,
            &.automations:after {
              content: " ";
              position: absolute;
              right: 0;
              top: 10px;
              border-left: 0;
              border-right: 20px solid $menuSelectedArrowColor;
              border-bottom: 25px solid transparent;
              border-top: 25px solid transparent;
            }
          }
          &:hover {
            background-color: transparent;
          }
        }
        &.disabled {
          .menu-link {
            cursor: default;
            color: $gray;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    //  And mein menu
  }
}

////////////////////
// context-menu
////////////////////
.sds-context-menu {
  color: $default-white;
  max-height: 50px;
  overflow: hidden;
  user-select: none;
  transition-property: width, max-height;
  transition-duration: .25s;
  font-size: 12px;
  line-height: 50px;
  text-align: right;
  z-index: 105;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  a,
  a:hover,
  a:visited {
    color: $default-white;
    text-decoration: none;
    display: block;
  }

  .sds-icon {
    @include sds-icon-size(16px);
    line-height: 50px;
  }

  .sds-svg-icon {
    fill: $default-white;
    height: 18px;
  }

  .sds-svg-icon--button-export {
    margin-bottom: 2px;
    height: 16px;
  }

  .sds-svg-icon--button-delete {
    margin-bottom: 4px;
    height: 16px;
  }

  .sds-svg-icon--icon-conditions {
    margin: 0 10px 4px 8px;
  }

  .sds-svg-icon--icon-rolling-deploy {
    height: 11px;
  }

  .menu-title {
    background: $dark-gray;
    height: 50px;
    cursor: pointer;
    font-size: 14px;

    .sds-icon {
      float: left;
      width: 50px;
    }
    &:hover {
      background: $fifty-percent-gray;
    }
  }

  .title-text{
    position: relative;
    overflow: hidden;
    padding-right: 10px;
  }

  .items {
    background: $dark-gray;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 50px;
    height: 50px;
  }

  li {
    border-top: 1px solid $fifty-percent-gray;
    cursor: pointer;
    line-height: 50px;
    &:last-child {
      border-bottom: 1px solid $fifty-percent-gray;
    }

    &:hover:not(.disabled) {
      background: $fifty-percent-gray;
    }

    .sds-icon {
      float: right;
      width: 40px;
    }

    .sds-svg-icon {
      box-sizing: border-box;
      width: 40px;
      margin-left: 0;
      margin-right: 0;
    }

    &.disabled {
      cursor: default;
      color: $fifty-percent-gray;
      .sds-icon {
        color: $fifty-percent-gray;
      }
      .sds-svg-icon {
        fill: $fifty-percent-gray;
      }
    }
  }

  li,
  .title-text {
    opacity: 0;
    transition: .25s opacity;
    transition-delay: .25s;
  }

  &.expanded {
    width: 250px;
    max-height: 999px;

    li,
    .title-text{
      opacity: 1;
    }
  }
}

.at-app-process-context-menu,
.at-app-context-menu,
.at-element-context-menu,
.at-pipeline-context-menu,
.at-stage-context-menu {
  position: absolute;
  width: 50px;
  right: -20px;
  top: 40px;
}


.at-app-process-context-menu{

  li {
    .sds-icon {
      &.properties{
        @include sds-icon-size(14px);
        line-height: 50px;
        width: 40px;
      }

      &.remove{
        color: $default-red;
      }
    }
  }
}

.at-app-context-menu,
.at-element-context-menu,
.at-pipeline-context-menu,
.at-stage-context-menu {
  &.at-snapshot-context-menu {
    top: 0;
  }

  li {
    .sds-icon {
      &.properties {
        @include sds-icon-size(14px);
      }

      &.at-notification-icon {
        @include sds-icon-size(12px);
      }

      &.at-notification-icon,
      &.properties {
        line-height: 50px;
        width: 40px;
      }

      &.remove{
        color: $default-red;
      }
    }
  }
}

.menu-item:not(.extension)+.menu-item.extension .menu-link {
  border-top: 2px solid $default-white;
}

.menu-item.extension.selected .menu-link:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 10px;
  border-left: 0;
  border-right: 20px solid $menuSelectedArrowColor;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
}

// Context Menu
.ec-context-menu-container {
  $block: '.ec-context-menu';
  top: 40px;
  right: -20px;
  z-index: 105;
  position: absolute;
  user-select: none;
  text-align: right;

  #{$block} {
    top: 0;
    right: 0;
    position: absolute;
    color: $default-white;
    fill: $default-white;
    transition-property: width, max-height;
    transition-duration: .25s, .12s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 50px;
    max-height: 50px;
    z-index: 109;

    &.expanded {
      width: 250px;
      z-index: 110;
      max-height: 9999px;
    }
  }

  #{$block}__header {
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    background: $dark-gray;

    .sds-icon {
      float: left;
      width: 50px;
      line-height: 50px;

      &.menu-slide {
        font-size: 16px;
      }

      &.dots {
        font-size: 7px;
      }
    }

    &:hover:not(.disabled) {
      background: $fifty-percent-gray;
    }

    &.disabled {
      cursor: default;

      .sds-icon, .sds-svg-icon {
        cursor: default;
        color: $forty-percent-gray;
        fill: $forty-percent-gray;
      }
    }
  }

  #{$block}__header--run-button {
    background-color: $default-green;

    &:hover:not(.disabled) {
      background-color: $light-green;
    }

    .sds-icon.right-arrow {
      font-size: 18px;
    }
    &.disabled {
      background-color: $soft-gray;
      .sds-icon, .sds-svg-icon {
        color: $default-white;
        fill: $default-white;
      }
    }
  }

  #{$block}__header-text {
    @include animate-fade-in();
    position: relative;
    overflow: hidden;
    padding-right: 10px;
  }

  #{$block}__list {
    margin-left: 50px;
    background: $dark-gray;
  }

  #{$block}__list--loading {
    background: $dark-gray url(../img/loader.gif) center 20% no-repeat;
  }

  #{$block}__list-item {
    @include animate-fade-in();
    display: block;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    cursor: pointer;
    color: $default-white;
    border-top: 1px solid $fifty-percent-gray;

    .sds-icon {
      width: 40px;
      font-size: 16px;

      &.end {
        font-size: 14px;
      }

      &.start {
        font-size: 14px;
      }
    }

    .sds-svg-icon {
      fill: $default-white;
      margin: 0 10px;
    }

    &:hover:not(.disabled) {
      color: $default-white;
      text-decoration: none;
      background: $fifty-percent-gray;
    }

    &:last-child {
      border-bottom: 1px solid $fifty-percent-gray;
    }

    &.disabled {
      cursor: default;
      color: $forty-percent-gray;

      .sds-icon {
        cursor: default;
        color: $forty-percent-gray;
      }
    }
  }

  #{$block}__list-item-text {
    font-size: 12px;
  }

  #{$block}__list-title {
    display: block;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    border-top: 2px solid $ten-percent-gray;

    .sds-icon {
      cursor: default;
    }
  }

  #{$block}__list-title-text {
    padding-right: 10px;
  }
}
