//================================================
//  Links
//================================================

.black-link {
  color: $default-black;

  &:hover {
    color: $default-black;
  }
}

.active-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
